footer {
  font-size: 0;
  padding: 9vw 0 5vw calc(51% - 15px);
  position: relative;
  overflow: hidden;
}

@media (max-width: 767px) {
  footer {
    padding: 25vw 0 26vw 21px;
  }
}

footer a {
  display: inline-block;
  font: 400 normal 13px/13px 'Graphik';
  color: #ACACAC;
  position: relative;
  padding: 6px 15px;
  z-index: 10;
}

footer a::after {
  left: 15px !important
}

footer h3 {
  color: $black;
  // color: #F73F04;
  position: absolute;
  right: -86px;
  bottom: -166px;
  font: 500 normal 288px/288px 'Adelon';
  z-index: 9;
}
