footer {
  font-size: 0;
  padding: 19vw 0 15vw calc(45% - 15px);
  position: relative;
  // overflow: hidden;

  a {
    display: inline-block;
    font: 400 normal 13px/13px 'Graphik';
    color: #ACACAC;
    position: relative;
    padding: 6px 15px;
    z-index: 10;

    &::after {
      left: 15px !important
    }
  }
  h3 {
    color: $black;
    // color: #F73F04;
    position: absolute;
    // color: rgba(0, 0, 0, 0.15);
    // right: 66px;
    // bottom: -166px;
    // font: 500 normal 400px/400px 'Adelon';
    right: 126px;
    bottom: 126px;
    font: 500 normal 300px/300px 'Adelon';
    z-index: 9;
    transform: rotate(90deg);
  }
}

@media (max-width: 1024px) {
  footer {
    h3 {
      right: 50px;
    }
  }
}
@media (max-width: 767px) {
  footer {
    padding: 25vw 0 26vw 10%;
    // padding: 25vw 0 26vw 21px;

    h3 {
      display: none;
    }
  }
}
