#nav-svg-circle {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  z-index: -1;
}

header {
  z-index: 12;
  position: fixed;
  width: 100%;

  .raidendilan {
    // font: 500 normal 16px/16px $graphik;
    font: 500 normal 16px/16px $italiana;
    position: absolute;
    top: 7vw;
    // left: calc(26vw - 6px);
    left: calc(46vw - 3px);
    // left: calc(41vw - 3px);
    z-index: 1;

    img {
      position: relative;
      display: block;
      width: 150px;
      // height: 200px;
    }
    a {
      padding: 6px;
      position: relative;
    }
  }
  .logo {
    font: 900 25px/30px $italiana, Arial, Helvetica, sans-serif;
    // font: 600 20px/30px 'MullerLight', Arial, Helvetica, sans-serif;
    // font: 600 normal 20px/20px $graphik;
    // position: absolute;
    // top: calc(6vw + 3px);
    display: block;
    width: 45px;
    height: 55px;
    position: fixed;
    overflow: hidden;
    top: 32px;
    left: calc(50vw - 22px);
    // left: calc(53vw - 20px);
    // left: calc(8vw - 17px);
    // left: calc(10vw - 17px);
    // left: calc(7vw - 7px);
    // -webkit-transform-origin: 100% 0%;
            // transform-origin: 100% 0%;
    // -webkit-transform: translateX(-100%) rotate(0);
            // transform: translateX(-100%) rotate(0);
    // -webkit-transform: translateX(-100%) rotate(-90deg);
    //         transform: translateX(-100%) rotate(-90deg);
    // padding: 6px;

    &.light {
      color: $white;

      svg.svg_menu {
        .svg_line {
          stroke: $white;
        }
      }
    }

    div {
      position: absolute;
      // top: 20px;
      // left: 20px;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      // height: 28px;
      // height: 16px;
      width: 45px;
      height: 35px;
    }
    svg {
      z-index: -1;
    }
  }
}

// header .inner_siri {
//   position: absolute;
//   top: 0;
//   left: 26vw;
//   width: 98px;
//   overflow: hidden;
//   pointer-events: none;
//   opacity: 0;
// }

// .feature1 {
//   position: absolute;
//   width: 2px;
//   height: 10px;
//   background: $white;
//   top: 8px;
//   right: 11px;
//   -webkit-transform-origin: 0 50%;
//           transform-origin: 0 50%;
//   -webkit-transition-property: background-color;
//           transition-property: background-color;
//   -webkit-transition-duration: 1s;
//           transition-duration: 1s;
// }
// .feature2 {
//   position: absolute;
//   width: 10px;
//   height: 2px;
//   background: $white;
//   top: 12px;
//   right: 7px;
//   -webkit-transform-origin: 100% 0;
//           transform-origin: 100% 0;
//   -webkit-transition-property: background-color;
//           transition-property: background-color;
//   -webkit-transition-duration: 1s;
//           transition-duration: 1s;
// }

// .black .feature1, .black .feature2 {
//   background: $black;
// }

#menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  background: $white;
  z-index: 10;
  display: none;
  // opacity: 0;

  .first_line, .second_line, .third_line {
    width: 1px;
    position: fixed;
    top: 0;
    height: 100vh;
    background: $white;
    opacity: 0.1;
    // z-index: 10;
    // opacity: 0.1;
  }

  .first_line {
    background: $black;
    left: calc(25vw - 1px);
  }
  .second_line {
    background: $black;
    left: calc(50vw - 1px);
  }
  .third_line {
    left: calc(75vw - 1px);
  }

  // svg, .svg-circle {
  //   z-index: -1;
  // }

  #pixi_menu {
    width: 50vw;
    height: 100vh;
    // height: calc(100vh - 7.4vw);
    // display: block;
    position: fixed;
    right: 0;
    top: 0;
    // top: 3.7vw;
    // z-index: 10;
    // background: $white;
    background: #7F7F7F;
    // -webkit-transform: skew(-20deg, 0deg);
    //         transform: skew(-20deg, 0deg);
    //
    z-index: -2;

    canvas {
      // -webkit-transform: skew(20deg, 0deg);
              // transform: skew(20deg, 0deg);
    }
  }
  a {
    color: $black;
    // transform: skewX(-20deg); /* SKEW */
    // transform: skew(20deg); /* UNSKEW */
    // -webkit-transform: skew(0deg, -20deg);
            // transform: skew(0deg, -20deg);
  }
  .projects {
    span {
      color: $black;
    }
    div {
      background: $black;
    }
  }
  .logo {
    z-index: 1;
  }
  ol#the_menu {
    font: 300 normal 68px/133px $italiana, Arial, Helvetica, sans-serif;
    // font: 300 normal 68px/133px 'MullerLight', Arial, Helvetica, sans-serif;
    // font: 500 normal 68px/133px 'Alconica';
    // font-family: 'Alconica';
    // font-weight: 400;
    // font-style: normal;
    // font-size: 68px;
    // line-height: 133px;
    // padding: calc(50vh - 70px) 0 calc(50vh - 70px) 26%;
    padding: calc(40vh - 70px) 0 calc(40vh - 70px) 12%;
    // padding: calc(50vh - 70px) 0 calc(50vh - 70px) 12%;
    // padding: calc(50vh - 70px) 0 calc(50vh - 70px) 18%;
    list-style-type: none;
    counter-reset: completeList;
    width: 76%;
    // display: flex;
    // flex-flow: row nowrap;
    z-index: 5;

    li {
      position: relative;
      // background: $white;
      // border-left: 1px solid red;
      // border-right: 1px solid red;

      &::before {
        counter-increment: completeList 1;
        color: $black;
        content: '0' counter(completeList);
        position: absolute;
        // font: 900 normal 12px/12px $italiana;
        font: 400 normal 13px/13px $graphik;
        top: 40%;
        right: calc(100% + 68px);
        -webkit-transform-origin: 100% 100%;
                transform-origin: 100% 100%;
        -webkit-transform: translateY(-50%) rotate(-90deg);
                transform: translateY(-50%) rotate(-90deg);

        a {
          display: block;
        }
      }
      a {
        &::after {
          content: 'Discover';
          // font: 400 normal 16px/16px $italiana;
          font: 400 normal 12px/12px $graphik;
          // letter-spacing: 2px;
          margin: 0 0 0 22px;
          -webkit-transform: translateY(-15px);
                  transform: translateY(-15px);
          display: inline-block;
          opacity: 0;
          -webkit-text-stroke: 0px $black;
              -ms-text-stroke: 0px $black;
                  text-stroke: 0px $black;
          color: $black;
        }
      }
      &.active {
        a {
          -webkit-text-stroke: 1px $black;
              -ms-text-stroke: 1px $black;
                  text-stroke: 1px $black;
          color: $white;

          &::after {
            opacity: 1;
          }
        }
      }
    }
  }
}

// @media (max-width: 1440px) {}

@media (max-width: 1024px) {
  #menu ol {
    font: 500 normal 5.5vw/10.4vw 'Alconica';

    // font-family: 'Alconica';
    // font-weight: 400;
    // font-style: normal;
    // font-size: 5.5vw;
    // line-height: 10.4vw;

    li {
      &.active {
        a {
          &::after {
            -webkit-transform: translateY(-1vw);
                    transform: translateY(-1vw);
          }
        }
      }
    }
  }
}

@media (max-width: 767px) {
  #nav-svg-circle {
    position: fixed;
  }
  .raidendilan {
    left: 29px;
    top: 40px;
  }
  header {
    .logo {
      left: calc(51vw - 27px);
      // display: none;
    }
    .projects {
      // right: 29px;
      // top: 34px;
      right: 0;
    }
    #social {
      left: 0;
    }
  }
  #menu {
    #pixi_menu {
      display: none;
    }
    ol#the_menu {
      padding-left: 60px;
      width: 100%;
      // font: 500 normal 10vw/20vw 'Alconica';
      font: 500 normal 11vw/25vw 'Alconica';

      // font-family: 'Alconica';
      // font-weight: 400;
      // font-style: normal;
      // font-size: 11vw;
      // line-height: 25vw;

      li {
        font: 300 normal 55px/100px 'MullerLight', Arial, Helvetica, sans-serif;

        a::after {
          display: none;
        }
        &::before {
          top: 35%;
          right: calc(100% + 32px);
        }
        &.active {
          a {
            &::after {
              content: '';
            }
          }
        }
      }
    }
    svg, .svg-circle {
      // width: 550px;
      // height: 550px;
      // top: calc(22vw - 17px);
    }
    .first_line, .second_line, .third_line {
      background: $black;
    }
    svg.svg-circle {
      circle {
        stroke: $black;
      }
    }
    svg#white_circle {
      // display: none;
    }
  }
}

@media (max-width: 320px) {
  header {
    .projects {
      right: 0;
    }
    #social {
      left: 0;
    }
  }
}
