<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="user-scalable=no, width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />

    <title>About — Raiden Dilan</title>

    <link rel="icon" type="image/png" href="../images/favicon.png" />

    <meta name="description" itemprop="description" content="I'm a full stack web developer currently working in London." />

    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="Raiden Dilan"/>
    <meta property="og:description" content="I'm a full stack web developer currently working in London." />
    <meta property="og:url" content="http://www.raidendilan.co.uk/" />
    <meta property="og:image" content="../images/bckgrnd2.jpg" />

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@RaidenDilan" />
    <meta name="twitter:creator" content="@RaidenDilan" />
    <meta name="twitter:title" content="Raiden Dilan" />
    <meta name="twitter:description" content="I'm a full stack web developer currently working in London." />
    <meta name="twitter:image" content="../images/bckgrnd2.jpg" />

    <!-- inject:css -->
    <!-- endinject -->
    <!-- inject:js -->
    <!-- endinject -->
  </head>

  <body class="page-template-about page is-loading">
    <header>
      <div id="social">
        <!-- <a target="_blank" href="https://www.facebook.com/raidendilan" class="point3 external">FB</a> -->
        <!-- <a target="_blank" href="https://www.instagram.com/raidendilan" class="point3 external">IN</a> -->
        <a target="_blank" href="https://github.com/raidendilan" class="point3 front black external">
          GH
          <svg class="svg_menu" width="170" height="10" viewBox="0 0 170 5" fill="none" xmlns="http://www.w3.org/2000/svg" style="width: 34px;">
            <path
              class="svg_line" d="M1 4C6.42012 3.90335 11.4217 3.49649 16.8086 3.23433C37.7681 2.21431 59.5389 1.2828 80.6174 1.10828C110.043 0.864635 139.569 1.10831 169 1.10831"
              stroke="#000000"
              stroke-width="6.6"
              stroke-linecap="round"
              stroke-linejoin="round"
              style="stroke-dashoffset: 1000;"
              >
            </path>
          </svg>
        </a>
        <a target="_blank" href="https://www.linkedin.com/in/raidendilan" class="point3 front black external">
          LI
          <svg class="svg_menu" width="170" height="10" viewBox="0 0 170 5" fill="none" xmlns="http://www.w3.org/2000/svg" style="width: 24px;">
            <path
              class="svg_line" d="M1 4C6.42012 3.90335 11.4217 3.49649 16.8086 3.23433C37.7681 2.21431 59.5389 1.2828 80.6174 1.10828C110.043 0.864635 139.569 1.10831 169 1.10831"
              stroke="#000000"
              stroke-width="10.6"
              stroke-linecap="round"
              stroke-linejoin="round"
              style="stroke-dashoffset: 1000;"
              >
            </path>
          </svg>
        </a>
      </div>
      <a href="/" class="logo point3 black link ahead">
        <div>RD</div>
        <svg class="svg_menu" width="170" height="10" viewBox="0 0 170 5" fill="none" xmlns="http://www.w3.org/2000/svg" style="width: 34px;">
          <path
            class="svg_line"
            d="M1 4C6.42012 3.90335 11.4217 3.49649 16.8086 3.23433C37.7681 2.21431 59.5389 1.2828 80.6174 1.10828C110.043 0.864635 139.569 1.10831 169 1.10831"
            stroke="#000000"
            stroke-width="6.6"
            stroke-linecap="round"
            stroke-linejoin="round"
            style="stroke-dashoffset: 1000;"
            >
          </path>
        </svg>
      </a>
      <!-- <h2 class="raidendilan front"><a href="/" class="link">RaidenDilan</a></h2> -->
      <div class="projects point3 black front">
        <!-- <span>Projects</span> -->
        <div class="feature1"></div>
        <div class="feature2"></div>
        <div class="feature3"></div>
      </div>
    </header>

    <a href="mailto:raiden18@.com" class="link point3 external" id="contact">
      <svg xmlns="http://www.w3.org/2000/svg" class="triger all_work ng-scope" viewBox="0 0 94.62 89.96">
        <text text-anchor="middle" x="50" y="50" class="small ng-binding">CONTACT</text>
        <title>raidendilan</title>
        <g>
          <g>
            <path class="cls-1" d="M1,43.57S3.65,3.86,41.45,1.16C71.57-1,83.62,18.58,88.14,31.29c4,11.24,7.19,42.65-28.83,54.84C22,98.77,8.44,65.55,7.17,56.47S5.9,23.12,28.61,9.23C51-4.44,73.49,3.33,84.91,18c8.61,11.07,16.52,41.61-5.84,62.21-19.55,16.42-51.16,6.29-59.72-8-6.1-10.2-5.29-23.07-5.29-23.07"></path>
          </g>
        </g>
      </svg>
    </a>
    <a href="/about" class="link point3" id="about">
      <svg xmlns="http://www.w3.org/2000/svg" class="triger all_work ng-scope" viewBox="0 0 94.62 89.96">
        <text text-anchor="middle" x="50" y="50" class="small ng-binding">ABOUT</text>
        <title>raidendilan</title>
        <g>
          <g>
            <path class="cls-1" d="M1,43.57S3.65,3.86,41.45,1.16C71.57-1,83.62,18.58,88.14,31.29c4,11.24,7.19,42.65-28.83,54.84C22,98.77,8.44,65.55,7.17,56.47S5.9,23.12,28.61,9.23C51-4.44,73.49,3.33,84.91,18c8.61,11.07,16.52,41.61-5.84,62.21-19.55,16.42-51.16,6.29-59.72-8-6.1-10.2-5.29-23.07-5.29-23.07"></path>
          </g>
        </g>
      </svg>
    </a>

    <nav id="menu">
      <ol id="the_menu">
        <li data-id="ads" class="active"><a href="/ads" class="link" data-img="../images/06/ads.jpeg">ADS</a></li>
        <li data-id="rdt"><a href="/rdt" class="link" data-img="../images/05/rdt.jpg">RDT</a></li>
        <li data-id="palm-trees"><a href="/palm-trees" class="link" data-img="../images/04/palm-trees.jpeg">Palm Trees</a></li>
        <li data-id="grouparty"><a href="/grouparty" class="link" data-img="../images/03/home-1698x1080.jpg">Grouparty</a></li>
        <li data-id="resorts"><a href="/resorts" class="link" data-img="../images/02/home-1.jpg">Resorts</a></li>
      </ol>

      <div class="first_line"></div>
      <div class="second_line"></div>
      <div class="third_line"></div>

      <svg class="svg-circle" viewBox="0 0 625 625" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <g transform="translate(-319.000000, -257.000000)" stroke="#FFFFFF" stroke-width="1">
            <g transform="translate(330.000000, 270.000000)">
              <circle class="Oval" opacity="0.1" cx="300" cy="300" r="300"></circle>
            </g>
          </g>
        </g>
      </svg>
      <svg class="svg-circle" viewBox="0 0 625 625" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <g transform="translate(-319.000000, -257.000000)" stroke="#000000" stroke-width="1">
            <g class="Group-4" transform="translate(330.000000, 270.000000)">
              <circle class="Oval" opacity="0.1" cx="300" cy="300" r="300"></circle>
            </g>
          </g>
        </g>
      </svg>

      <a href="#" class="link" id="pixi_menu"></a>
    </nav>

    <div id="progress"></div>

    <div id="main">
      <div class="vs-section">
        <div class="intro">
          <div class="fond_intro"></div>
          <div class="madein">
            <div>
              <div class="random">
                Made in
                <!-- <br/> -->
                <span>UK</span>
              </div>
              <!-- <div class="random">Made in<br />London</div> -->

              <!-- <svg width="12px" height="12px" viewBox="0 0 12 12" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <g id="Artboard-2" transform="translate(-407.000000, -232.000000)">
                    <g id="Group-6" transform="translate(412.500000, 238.500000) scale(1, -1) translate(-412.500000, -238.500000) translate(407.000000, 233.000000)">
                      <polyline id="Rectangle-5" stroke="#131313" points="11 4 11 11 4 11"></polyline>
                      <path d="M10.5,10.5 L0.5,0.5" id="Line" stroke="#0C0C0C" stroke-linecap="square"></path>
                    </g>
                  </g>
                </g>
    					</svg> -->
            </div>
          </div>
          <div class="city">
            <div class="random">London</div>
            <div id="inner_svg">
              <img id="d" src="../fonts/d.svg" alt="letter d"/>
              <img id="e" src="../fonts/e.svg" alt="letter e"/>
              <img id="s" src="../fonts/s.svg" alt="letter s"/>
              <img id="i" src="../fonts/i.svg" alt="letter i"/>
              <img id="g" src="../fonts/g.svg" alt="letter g"/>
              <img id="n" src="../fonts/n.svg" alt="letter n"/>
            </div>
          </div>
        </div>

        <div class="intro2">
          <div class="fond_intro"></div>
          <h1 class="random">
            <span id="scaleA">About</span>
            <div class="deets-dash"></div>
            <!-- <div>RD</div> -->
          </h1>
          <h2 class="random">I'm a <span>full stack</span> web developer currently working in <span>London</span></h2>
          <p class="random">I'm Raiden, a British designer based in London. I get inspired by novel ideas, original design and creativity. My work has been varied – from branding, print, apps, UX/UI, websites and digital tools – but always with a human-centered approach and a keen eye for detail. I like to take influences from nature, architecture and cinematography, and always lean towards minimalism and simplicity. I'm glad to collaborate with many creative disciplines and offer a full range of production services in the design, lifestyle, arts, fashion and architecture industries. I'm a big typography lover and into minimal design. I aim for a high quality, polished product to achieve my clinkts goals. My work has been recognized on Awwwards, CSSDA and many more. Let's get in touch, for any project inquires or just drop me a message.
          </p>
        </div>

        <!-- <div class="sotd">
          <h3>Awards & recognition</h3>
          <div><div>Mobile of the day</div>
          <div>FWA</div>
          <div>2018</div></div>
          <div>
            <div>Site of the day</div>
            <div>FWA</div>
            <div>2018</div>
          </div>
          <div>
            <div>Site of the day</div>
            <div>CSSDA</div>
            <div>2017</div>
          </div>
          <div>
            <div>Site of the day</div>
            <div>CSSDA</div>
            <div>2018</div>
          </div>
          <div>
            <div>Site of the day</div>
            <div>CSSDA</div>
            <div>2018</div>
          </div>
          <div>
            <div>Best Innovation</div>
            <div>CSSDA</div>
            <div>2018</div>
          </div>
          <div>
            <div>Best UX</div>
            <div>CSSDA</div>
            <div>2018</div>
          </div>
            <div>
            <div>Best UI</div>
            <div>CSSDA</div>
            <div>2018</div>
          </div>
          <div>
            <div>Site of the day</div>
            <div>FWAWWWARD</div>
            <div>2018</div>
          </div>
          <div>
            <div>Site of the day</div>
            <div>Awwwards</div>
            <div>2018</div>
          </div>
          <div>
            <div>Site of the day</div>
            <div>Awwwards</div>
            <div>2018</div>
          </div>
          <div>
            <div>Site of the day</div>
            <div>Awwwards</div>
            <div>2017</div>
          </div>
          <div>
            <div>Honor</div>
            <div>Awwwards</div>
            <div>2016</div>
          </div>
          <div>
            <div>Honor</div>
            <div>Awwwards</div>
            <div>2017</div>
          </div>
          <div>
            <div>Honor</div>
            <div>Awwwards</div>
            <div>2018</div>
          </div>
          <div>
            <div>Interactive server</div>
            <div>Behance</div>
            <div>2017</div>
          </div>
          <div>
            <div>Interactive server</div>
            <div>Behance</div>
            <div>2017</div>
          </div>
          <div>
            <div>Interactive server</div>
            <div>Behance</div>
            <div>2016</div>
          </div>
          <div>
            <div>Interactive server</div>
            <div>Behance</div>
            <div>2016</div>
          </div>
          <div>
            <div>Interactive server</div>
            <div>Behance</div>
            <div>2015</div>
          </div>
          <div>
            <div>Designer of week</div>
            <div>Commarts</div>
            <div>2016</div>
          </div>
          <div>
            <div>Best interaction</div>
            <div>Felis</div>
            <div>2015</div>
          </div>
        </div> -->

        <div class="reach">
          <h3>Reach me</h3>
          <a class="point3" href="mailto:raiden18@me.com">
            <div>Say Hi</div>
            <svg class="svg_menu" width="170" height="10" viewBox="0 0 170 5" fill="none" xmlns="http://www.w3.org/2000/svg" style="width: 112px;">
              <path
                class="svg_line"
                d="M1 4C6.42012 3.90335 11.4217 3.49649 16.8086 3.23433C37.7681 2.21431 59.5389 1.2828 80.6174 1.10828C110.043 0.864635 139.569 1.10831 169 1.10831"
                stroke="#000000"
                stroke-width="2.5"
                stroke-linecap="round"
                stroke-linejoin="round"
                style="stroke-dashoffset: 1000;"
                >
              </path>
            </svg>
          </a>
          <img src="../images/peace.png" alt="" />
        </div>

        <div class="coded">
          <h3>Coded by</h3>
          <a class="point3 black external" target="_blank" href="http://www.raidendilan.com">
            <div>RaidenDilan</div>
            <!-- RaidenDilan -->
            <svg class="svg_menu" width="170" height="10" viewBox="0 0 170 5" fill="none" xmlns="http://www.w3.org/2000/svg" style="width: 142px;">
              <path
                class="svg_line"
                d="M1 4C6.42012 3.90335 11.4217 3.49649 16.8086 3.23433C37.7681 2.21431 59.5389 1.2828 80.6174 1.10828C110.043 0.864635 139.569 1.10831 169 1.10831"
                stroke="#000000"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                style="stroke-dashoffset: 1000;"
                >
              </path>
            </svg>
          </a>
        </div>

        <footer>
          <a class="point3 external" target="_blank" href="https://www.behance.net/raidendilan">
            BH
            <svg class="svg_menu" width="170" height="10" viewBox="0 0 170 5" fill="none" xmlns="http://www.w3.org/2000/svg" style="width: 24px;">
              <path
                class="svg_line" d="M1 4C6.42012 3.90335 11.4217 3.49649 16.8086 3.23433C37.7681 2.21431 59.5389 1.2828 80.6174 1.10828C110.043 0.864635 139.569 1.10831 169 1.10831"
                stroke="#000000"
                stroke-width="6.6"
                stroke-linecap="round"
                stroke-linejoin="round"
                style="stroke-dashoffset: 1000;"
                >
              </path>
            </svg>
          </a>
          <a class="point3 external" target="_blank" href="https://www.facebook.com/RaidenDilan">
            FB
            <svg class="svg_menu" width="170" height="10" viewBox="0 0 170 5" fill="none" xmlns="http://www.w3.org/2000/svg" style="width: 24px;">
              <path
                class="svg_line" d="M1 4C6.42012 3.90335 11.4217 3.49649 16.8086 3.23433C37.7681 2.21431 59.5389 1.2828 80.6174 1.10828C110.043 0.864635 139.569 1.10831 169 1.10831"
                stroke="#000000"
                stroke-width="6.6"
                stroke-linecap="round"
                stroke-linejoin="round"
                style="stroke-dashoffset: 1000;"
                >
              </path>
            </svg>
          </a>
          <a class="point3 external" target="_blank" href="https://www.instagram.com/RaidenDilan">
            IN
            <svg class="svg_menu" width="170" height="10" viewBox="0 0 170 5" fill="none" xmlns="http://www.w3.org/2000/svg" style="width: 24px;">
              <path
                class="svg_line" d="M1 4C6.42012 3.90335 11.4217 3.49649 16.8086 3.23433C37.7681 2.21431 59.5389 1.2828 80.6174 1.10828C110.043 0.864635 139.569 1.10831 169 1.10831"
                stroke="#000000"
                stroke-width="6.6"
                stroke-linecap="round"
                stroke-linejoin="round"
                style="stroke-dashoffset: 1000;"
                >
              </path>
            </svg>
          </a>
          <h3>RD</h3>
        </footer>
      </div>
    </div>
  </body>
</html>
