<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="user-scalable=no, width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />

    <title>About — Raiden Dilan</title>

    <link rel="icon" type="image/png" href="../images/favicon.png" />

    <meta name="description" itemprop="description" content="I'm a full stack web developer currently working in London." />

    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="Raiden Dilan"/>
    <meta property="og:description" content="I'm a full stack web developer currently working in London." />
    <meta property="og:url" content="http://www.raidendilan.co.uk/" />
    <meta property="og:image" content="../images/bckgrnd2.jpg" />

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@RaidenDilan" />
    <meta name="twitter:creator" content="@RaidenDilan" />
    <meta name="twitter:title" content="Raiden Dilan" />
    <meta name="twitter:description" content="I'm a full stack web developer currently working in London." />
    <meta name="twitter:image" content="../images/bckgrnd2.jpg" />

    <!-- inject:css -->
    <!-- endinject -->
    <!-- inject:js -->
    <!-- endinject -->
  </head>

  <body class="page-template-about page is-loading">
    <header>
      <a href="/home" class="logo link point ahead"><div>RD</div></a>
      <h2 class="raidendilan fil front"><a href="/" class="lien point">RaidenDilan</a></h2>
      <div class="projects point front">
        <span>Projects</span>
        <div class="feature1"></div>
        <div class="feature2"></div>
      </div>
    </header>

    <a href="mailto:raiden18@me.com" class="external point link" id="contact">contact</a>
    <a href="/about" class="lien point" id="about">about</a>

    <nav id="menu">
      <ol id="the_menu">
        <li class="active"><a href="/ads" class="link" data-img="../images/06/ads.jpeg">ADS</a></li>
        <li><a href="/rdt" class="link" data-img="../images/05/rdt.jpg">RDT</a></li>
        <li><a href="/palm-trees" class="link" data-img="../images/04/palm-trees.jpeg">Palm Trees</a></li>
        <li><a href="/grouparty" class="link" data-img="../images/03/home-1698x1080.jpg">Grouparty</a></li>
        <li><a href="/resorts" class="link" data-img="../images/02/home-1.jpg">Resorts</a></li>
      </ol>

      <a href="#" class="lien" id="pixi_menu"></a>
    </nav>

    <div id="progress"></div>

    <div id="main">
      <div class="vs-section">
        <div class="intro">
          <div class="fond_intro"></div>
          <div class="madein">
            <div>
              <div class="random">Made in<br />Switzerland</div>

              <!-- <svg width="12px" height="12px" viewBox="0 0 12 12" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <g id="Artboard-2" transform="translate(-407.000000, -232.000000)">
                    <g id="Group-6" transform="translate(412.500000, 238.500000) scale(1, -1) translate(-412.500000, -238.500000) translate(407.000000, 233.000000)">
                      <polyline id="Rectangle-5" stroke="#131313" points="11 4 11 11 4 11"></polyline>
                      <path d="M10.5,10.5 L0.5,0.5" id="Line" stroke="#0C0C0C" stroke-linecap="square"></path>
                    </g>
                  </g>
                </g>
    					</svg> -->
            </div>
          </div>
          <div class="ville">
            <div class="random">London</div>
            <div id="inner_svg">
              <img id="d" src="../fonts/d.svg" alt=""/>
              <img id="e" src="../fonts/e.svg" alt=""/>
              <img id="s" src="../fonts/s.svg" alt=""/>
              <img id="i" src="../fonts/i.svg" alt=""/>
              <img id="g" src="../fonts/g.svg" alt=""/>
              <img id="n" src="../fonts/n.svg" alt=""/>
            </div>
          </div>
        </div>

        <div class="intro2">
          <div class="fond_intro"></div>
          <h1 class="random"><span id="scaleA">About</span></h1>
          <h2 class="random">I'm an full stack developer currently working in London</h2>
          <p class="random">I'm Raiden, a British designer based in London. I get inspired by novel ideas, original design and creativity. My work has been varied – from branding, print, apps, UX/UI, websites and digital tools – but always with a human-centered approach and a keen eye for detail. I like to take influences from nature, architecture and cinematography, and always lean towards minimalism and simplicity. I'm glad to collaborate with many creative disciplines and offer a full range of production services in the design, lifestyle, arts, fashion and architecture industries. I'm a big typography lover and into minimal design. I aim for a high quality, polished product to achieve my clients goals. My work has been recognized on Awwwards, CSSDA and many more. Let's get in touch, for any project inquires or just drop me a message.
          </p>
        </div>

        <div class="sotd">
          <h3>Awards & recognition</h3>
          <div><div>Mobile of the day</div>
          <div>FWA</div>
          <div>2018</div></div>
          <div>
            <div>Site of the day</div>
            <div>FWA</div>
            <div>2018</div>
          </div>
          <div>
            <div>Site of the day</div>
            <div>CSSDA</div>
            <div>2017</div>
          </div>
          <div>
            <div>Site of the day</div>
            <div>CSSDA</div>
            <div>2018</div>
          </div>
          <div>
            <div>Site of the day</div>
            <div>CSSDA</div>
            <div>2018</div>
          </div>
          <div>
            <div>Best Innovation</div>
            <div>CSSDA</div>
            <div>2018</div>
          </div>
          <div>
            <div>Best UX</div>
            <div>CSSDA</div>
            <div>2018</div>
          </div>
            <div>
            <div>Best UI</div>
            <div>CSSDA</div>
            <div>2018</div>
          </div>
          <div>
            <div>Site of the day</div>
            <div>FWAWWWARD</div>
            <div>2018</div>
          </div>
          <div>
            <div>Site of the day</div>
            <div>Awwwards</div>
            <div>2018</div>
          </div>
          <div>
            <div>Site of the day</div>
            <div>Awwwards</div>
            <div>2018</div>
          </div>
          <div>
            <div>Site of the day</div>
            <div>Awwwards</div>
            <div>2017</div>
          </div>
          <div>
            <div>Honor</div>
            <div>Awwwards</div>
            <div>2016</div>
          </div>
          <div>
            <div>Honor</div>
            <div>Awwwards</div>
            <div>2017</div>
          </div>
          <div>
            <div>Honor</div>
            <div>Awwwards</div>
            <div>2018</div>
          </div>
          <div>
            <div>Interactive server</div>
            <div>Behance</div>
            <div>2017</div>
          </div>
          <div>
            <div>Interactive server</div>
            <div>Behance</div>
            <div>2017</div>
          </div>
          <div>
            <div>Interactive server</div>
            <div>Behance</div>
            <div>2016</div>
          </div>
          <div>
            <div>Interactive server</div>
            <div>Behance</div>
            <div>2016</div>
          </div>
          <div>
            <div>Interactive server</div>
            <div>Behance</div>
            <div>2015</div>
          </div>
          <div>
            <div>Designer of week</div>
            <div>Commarts</div>
            <div>2016</div>
          </div>
          <div>
            <div>Best interaction</div>
            <div>Felis</div>
            <div>2015</div>
          </div>
        </div>

        <div class="reach">
          <h3>Reach me</h3>
          <a class="point2" href="mailto:raiden18@me.com">Say Hi</a>
          <img src="../images/peace.png" alt="" />
        </div>

        <div class="coded">
          <h3>Coded by</h3>
          <a class="point external" target="_blank" href="http://www.raidendilan.com">RaidenDilan</a>
        </div>

        <footer>
          <a class="point external" target="_blank" href="https://www.behance.net/raidendilan">Bh</a>
          <a class="point external" target="_blank" href="https://www.facebook.com/RaidenDilan">Fb</a>
          <a class="point external" target="_blank" href="https://www.instagram.com/RaidenDilan">In</a>
          <h3>CC</h3>
        </footer>
      </div>
    </div>
  </body>
</html>
