<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="user-scalable=no, width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />

    <title>ADS — Raiden Dilan</title>

    <link rel="icon" type="image/png" href="../images/favicon.png" />

    <meta name="description" itemprop="description" content="I'm a full stack web developer currently working in London." />

    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="Raiden Dilan"/>
    <meta property="og:description" content="I'm a full stack web developer currently working in London." />
    <meta property="og:url" content="http://www.raidendilan.co.uk/" />
    <meta property="og:image" content="../images/bckgrnd2.jpg" />

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@RaidenDilan" />
    <meta name="twitter:creator" content="@RaidenDilan" />
    <meta name="twitter:title" content="Raiden Dilan" />
    <meta name="twitter:description" content="I'm a full stack web developer currently working in London." />
    <meta name="twitter:image" content="../images/bckgrnd2.jpg" />

    <!-- inject:css -->
    <!-- endinject -->
    <!-- inject:js -->
    <!-- endinject -->
  </head>

  <body class="single single-works is-loading">
    <header>
      <div id="social">
        <!-- <a target="_blank" href="https://www.facebook.com/raidendilan" class="point3 external">FB</a> -->
        <!-- <a target="_blank" href="https://www.instagram.com/raidendilan" class="point3 external">IN</a> -->
        <a target="_blank" href="https://github.com/raidendilan" class="point3 front black external">
          GH
          <svg class="svg_menu" width="170" height="10" viewBox="0 0 170 5" fill="none" xmlns="http://www.w3.org/2000/svg" style="width: 34px;">
            <path
              class="svg_line" d="M1 4C6.42012 3.90335 11.4217 3.49649 16.8086 3.23433C37.7681 2.21431 59.5389 1.2828 80.6174 1.10828C110.043 0.864635 139.569 1.10831 169 1.10831"
              stroke="#000000"
              stroke-width="6.6"
              stroke-linecap="round"
              stroke-linejoin="round"
              style="stroke-dashoffset: 1000;"
              >
            </path>
          </svg>
        </a>
        <a target="_blank" href="https://www.linkedin.com/in/raidendilan" class="point3 front black external">
          LI
          <svg class="svg_menu" width="170" height="10" viewBox="0 0 170 5" fill="none" xmlns="http://www.w3.org/2000/svg" style="width: 24px;">
            <path
              class="svg_line" d="M1 4C6.42012 3.90335 11.4217 3.49649 16.8086 3.23433C37.7681 2.21431 59.5389 1.2828 80.6174 1.10828C110.043 0.864635 139.569 1.10831 169 1.10831"
              stroke="#000000"
              stroke-width="10.6"
              stroke-linecap="round"
              stroke-linejoin="round"
              style="stroke-dashoffset: 1000;"
              >
            </path>
          </svg>
        </a>
      </div>

      <a href="/" class="logo link point3 black front">
        <div>RD</div>
        <svg class="svg_menu" width="170" height="10" viewBox="0 0 170 5" fill="none" xmlns="http://www.w3.org/2000/svg" style="width: 34px;">
          <path
            class="svg_line"
            d="M1 4C6.42012 3.90335 11.4217 3.49649 16.8086 3.23433C37.7681 2.21431 59.5389 1.2828 80.6174 1.10828C110.043 0.864635 139.569 1.10831 169 1.10831"
            stroke="#000000"
            stroke-width="6.6"
            stroke-linecap="round"
            stroke-linejoin="round"
            style="stroke-dashoffset: 1000;"
            >
          </path>
        </svg>
      </a>
      <div class="projects point3 black front">
        <div class="bar feature1"></div>
        <div class="bar feature2"></div>
        <div class="bar feature3"></div>
      </div>
    </header>

    <a href="mailto:raiden18@.com" class="link point3 external" id="contact">
      <svg xmlns="http://www.w3.org/2000/svg" class="triger all_work ng-scope" viewBox="0 0 94.62 89.96">
        <text text-anchor="middle" x="50" y="50" class="small ng-binding">CONTACT</text>
        <title>raidendilan</title>
        <g>
          <g>
            <path class="cls-1" d="M1,43.57S3.65,3.86,41.45,1.16C71.57-1,83.62,18.58,88.14,31.29c4,11.24,7.19,42.65-28.83,54.84C22,98.77,8.44,65.55,7.17,56.47S5.9,23.12,28.61,9.23C51-4.44,73.49,3.33,84.91,18c8.61,11.07,16.52,41.61-5.84,62.21-19.55,16.42-51.16,6.29-59.72-8-6.1-10.2-5.29-23.07-5.29-23.07"></path>
          </g>
        </g>
      </svg>
    </a>
    <a href="/about" class="link point3" id="about">
      <svg xmlns="http://www.w3.org/2000/svg" class="triger all_work ng-scope" viewBox="0 0 94.62 89.96">
        <text text-anchor="middle" x="50" y="50" class="small ng-binding">ABOUT</text>
        <title>raidendilan</title>
        <g>
          <g>
            <path class="cls-1" d="M1,43.57S3.65,3.86,41.45,1.16C71.57-1,83.62,18.58,88.14,31.29c4,11.24,7.19,42.65-28.83,54.84C22,98.77,8.44,65.55,7.17,56.47S5.9,23.12,28.61,9.23C51-4.44,73.49,3.33,84.91,18c8.61,11.07,16.52,41.61-5.84,62.21-19.55,16.42-51.16,6.29-59.72-8-6.1-10.2-5.29-23.07-5.29-23.07"></path>
          </g>
        </g>
      </svg>
    </a>

    <nav id="menu">
      <ol id="the_menu">
        <li class="active"><a href="/ads" class="link" data-img="../images/06/ads.jpeg" >ADS</a></li>
        <li><a href="/rdt" class="link" data-img="../images/05/rdt.jpg" >RDT</a></li>
        <li><a href="/palm-trees" class="link" data-img="../images/04/palm-trees.jpeg" >Palm Trees</a></li>
        <li><a href="/grouparty" class="link" data-img="../images/03/home-1698x1080.jpg" >Grouparty</a></li>
        <li><a href="/resorts" class="link" data-img="../images/02/home-1.jpg" >Resorts</a></li>
      </ol>

      <a href="#" class="link" id="pixi_menu"></a>
    </nav>

    <div id="progress"></div>

    <div id="main">
      <div class="vs-section">
        <h1 class="random">Architectural Design Services</h1>
        <div class="datas">
          <span class="random">UI, UX, Web Design, Art Direction</span>
          <a target="_blank" class="random external point3 black" href="#">
            Coming Soon!
            <svg class="svg_menu" width="170" height="10" viewBox="0 0 170 5" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                class="svg_line"
                d="M1 4C6.42012 3.90335 11.4217 3.49649 16.8086 3.23433C37.7681 2.21431 59.5389 1.2828 80.6174 1.10828C110.043 0.864635 139.569 1.10831 169 1.10831"
                stroke="#000000"
                stroke-width="2.6"
                stroke-linecap="round"
                stroke-linejoin="round"
                style="stroke-dashoffset: 1000;"
                >
              </path>
            </svg>
          </a>
          <span class="random">2018</span>
        </div>

        <div id="cover" class="cover" data-img="../images/06/ads.jpeg"></div>

        <div class="inner_img">
          <div id="the_imgs" class="wrap">
            <img src="../images/06/home.jpeg" alt="Home page"/>
            <img src="../images/06/header-menu.jpeg" alt="Header menu"/>
            <img src="../images/06/about.jpeg" alt="About page"/>
            <img src="../images/06/contact.jpeg" alt="Contact page"/>
            <img src="../images/06/projects-2.jpeg" alt="Projects page"/>
          </div>
        </div>

        <div id="next_proj">
          <div id="top_half">
            <a
              id="to_next_project"
              href="/rdt"
              class="bottom_link"
              data-next="<span>R</span><span>a</span><span>w</span><span>a</span><span>n</span><span>d</span><span> </span><span>D</span><span>i</span><span>l</span><span>a</span><span>n</span><span> </span><span>T</span><span>h</span><span>e</span><span>r</span><span>a</span><span>p</span><span>y</span>"
              >
              <span>N</span>
              <span>e</span>
              <span>x</span>
              <span>t</span>
            </a>
            <div id="inner_project_name">
              <span id="project_name">
                <span class="stag">n</span>
                <span class="stag">e</span>
                <span class="stag">x</span>
                <span class="stag">t</span>
              </span>
              project
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
