<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="user-scalable=no, width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />

  <title>Band Some — MustafaÇelik</title>

  <!-- <link rel="icon" type="image/png" href="../images/favicon.png" /> -->

  <meta name="description" itemprop="description" content="I'm an art director currently working in Zurich." />

  <meta property="og:type" content="website" />
  <meta property="og:site_name" content="Mustafa Çelik"/>
  <meta property="og:description" content="I'm an art director currently working in Zurich." />
  <meta property="og:url" content="/index" />
  <!-- <meta property="og:image" content="../images/bckgrnd2.jpg" /> -->

  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@TheMustafaCelik" />
  <meta name="twitter:creator" content="@TheMustafaCelik" />
  <meta name="twitter:title" content="Mustafa Çelik" />
  <meta name="twitter:description" content="I'm an art director currently working in Zurich." />
  <!-- <meta name="twitter:image" content="../images/bckgrnd2.jpg" /> -->

  <!-- inject:css -->
  <!-- endinject -->
  <!-- inject:js -->
  <!-- endinject -->
</head>
  <body class="works-template-default single single-works postid-57 is-loading">
    <header>
      <a href="/home" class="logo link point ahead"><div>MC</div></a>
      <h2 class="mustafacelik fil front"><a href="/home" class="lien point">MustafaÇelik</a></h2>
      <div class="all_works point front">
        <span>All Works</span>
        <div class="feature1"></div>
        <div class="feature2"></div>
        <!-- <div class="feature3"></div> -->
      </div>
    </header>
    <a href="mailto:raidendilan@me.com" class="external point link" id="contact">contact</a>
    <a href="/about" class="lien point" id="about">about</a>

    <!-- <div id="fondrouge"></div> -->
    <!-- <section id="inner_menu"> -->
    <nav id="menu">
      <!-- <a href="" class="logo lien point"><div>MC</div></a>
      <h2 class="mustafacelik"><a href="" class="lien point">MustafaCelik</a></h2>
      <div class="all_works point">
        <span>All Works</span>
        <div class="feature1"></div>
        <div class="feature2"></div>
      </div> -->

      <ol id="the_menu">
        <li class="actif" data-id="postid-59">
          <a
            href="/top-paddock"
            class="lien"
            data-img="images/tp-hm2.jpg"
            >
            Top Paddock
          </a>
        </li>
        <li data-id="postid-57">
          <a
            href="/band-some"
            class="lien"
            data-img="images/bandsome.jpg"
            >
            Band Some
          </a>
        </li>
        <li data-id="postid-47">
          <a
            href="/einwick"
            class="lien"
            data-img="images/einwick.jpg"
            >
            Einwick
          </a>
        </li>
        <li data-id="postid-45">
          <a
            href="/ohlin-nyc"
            class="lien"
            data-img="images/ohlinb.jpg"
            >
            Ohlin Nyc
          </a>
        </li>
        <li data-id="postid-43">
          <a
            href="/higher-ground"
            class="lien"
            data-img="images/higherground2.jpg"
            >
            Higher Ground
          </a>
        </li>
        <li data-id="postid-13">
          <a
            href="/cluse"
            class="lien"
            data-img="images/cluse-hm.jpg"
            >
            Cluse
          </a>
        </li>
        <!-- <li class="actif"><a href="/works/cluse" class="lien" data-img="/img/img2.jpg">Cluse</a></li>
        <li><a href="#" class="lien" data-img="/img/img1.jpg">Ohlin-b</a></li>
        <li><a href="#" class="lien" data-img="/img/fran.jpg">Bandsome</a></li>
        <li><a href="#" class="lien" data-img="/img/img2.jpg">Higher Ground</a></li>
        <li><a href="#" class="lien" data-img="/img/img1.jpg">Top Paddock</a></li>
        <li><a href="#" class="lien" data-img="/img/fran.jpg">Einwick</a></li> -->
      </ol>
      <a href="#" class="lien" id="pixi_menu"></a>
    </nav>

    <div id="progress"></div>

    <div id="main">
      <div class="vs-section">
        <h1 class="random">Band Some</h1>
        <div class="datas">
          <span class="random">UI Design</span>
          <a target="_blank" class="random external point black" href="https://www.behance.net/gallery/30253365/Bandsoeme">Visit the website</a>

          <span class="random">2016</span>
        </div>

        <div id="cover" class="cover" data-img="images/bandsome.jpg"></div>

        <div class="inner_img">
          <div id="the_imgs" class="wrap">
            <img src="images/mom1.jpg" alt="" />
            <img src="images/mom2.jpg" alt="" />
            <img src="images/mom4.jpg" alt="" />
            <img src="images/mom6.jpg" alt="" />
            <img src="images/mom5.jpg" alt="" />
            <img src="images/mom7.jpg" alt="" />
            <!-- <img src="/img/img.jpg" alt="" />
            <img src="/img/img.jpg" alt="" />
            <img src="/img/img.jpg" alt="" />
            <img src="/img/img.jpg" alt="" /> -->
          </div>
        </div>

        <div id="next_proj">
          <div id="half_high">
            <a id="to_next_proj" href="/einwick" class="lien_bas" data-next="<span>E</span><span>i</span><span>n</span><span>w</span><span>i</span><span>c</span><span>k</span>">
              <span>N</span>
              <span>e</span>
              <span>x</span>
              <span>t</span>
            </a>
            <div id="inner_project_name">
              <span id="nom_projet">
                <span class="stag">n</span>
                <span class="stag">e</span>
                <span class="stag">x</span>
                <span class="stag">t</span>
              </span>
              project
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
