<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="user-scalable=no, width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />

    <title>Grouparty — Raiden Dilan</title>

    <link rel="icon" type="image/png" href="../images/favicon.png" />

    <meta name="description" itemprop="description" content="I'm a full stack web developer currently working in London." />

    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="Raiden Dilan"/>
    <meta property="og:description" content="I'm a full stack web developer currently working in London." />
    <meta property="og:url" content="http://www.raidendilan.co.uk/" />
    <meta property="og:image" content="../images/bckgrnd2.jpg" />

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@RaidenDilan" />
    <meta name="twitter:creator" content="@RaidenDilan" />
    <meta name="twitter:title" content="Raiden Dilan" />
    <meta name="twitter:description" content="I'm a full stack web developer currently working in London." />
    <meta name="twitter:image" content="../images/bckgrnd2.jpg" />

    <!-- inject:css -->
    <!-- endinject -->
    <!-- inject:js -->
    <!-- endinject -->
  </head>

  <body class="works-template-default single single-works is-loading">
    <header>
      <a href="/home" class="logo link point front"><div>RD</div></a>
      <h2 class="raidendilan fil front"><a href="/" class="link point">RaidenDilan</a></h2>
      <div class="projects point front">
        <span>Projects</span>
        <div class="feature1"></div>
        <div class="feature2"></div>
      </div>
    </header>

    <a href="mailto:raiden18@me.com" class="external point link" id="contact">contact</a>
    <a href="./about" class="link point" id="about">about</a>

    <nav id="menu">
      <ol id="the_menu">
        <li class="active"><a href="/ads" class="link" data-img="../images/06/ads.jpg">ADS</a></li>
        <li><a href="/rdt" class="link" data-img="../images/05/rdt.jpg">RDT</a></li>
        <li><a href="/palm-trees" class="link" data-img="../images/04/palm-trees.jpeg">Palm Trees</a></li>
        <li><a href="/grouparty" class="link" data-img="../images/03/home-1698x1080.jpg">Grouparty</a></li>
        <li><a href="/resorts" class="link" data-img="../images/02/home-1.jpg">Resorts</a></li>
      </ol>
      <a href="#" class="link" id="pixi_menu"></a>
    </nav>

    <div id="progress"></div>

    <div id="main">
      <div class="vs-section">
        <h1 class="random">Grouparty</h1>
        <div class="datas">
          <span class="random">UI, Web Design</span>
          <a target="_blank" class="random external point black" href="https://grouparty.herokuapp.com/">Visit the website</a>
          <span class="random">2017</span>
        </div>

        <div id="cover" class="cover" data-img="../images/03/home-1920x1080.jpg"></div>

        <div class="inner_img">
          <div id="the_imgs" class="wrap">
            <img src="../images/03/home-1.jpeg" alt="Home page"/>
            <img src="../images/03/nav-bar.jpeg" alt="header menu"/>
            <img src="../images/03/login.jpeg" alt="Login page"/>
            <img src="../images/03/register.jpeg" alt="Register page"/>
            <img src="../images/03/profile.jpeg" alt="Profile page"/>
            <img src="../images/03/profile-edit.jpeg" alt="Edit profile page"/>
            <img src="../images/03/new-group.jpeg" alt="Create new group page"/>
            <img src="../images/03/group.jpeg" alt="Show group page"/>
            <img src="../images/03/group-edit.jpeg" alt="Edit group page"/>
            <img src="../images/03/group-user.jpeg" alt="Group members modal"/>
            <img src="../images/03/group-prop.jpeg" alt="Property page"/>
            <img src="../images/03/group-prop-map.jpeg" alt="Property map"/>
            <img src="../images/03/group-prop-chart.jpeg" alt="Property chart"/>
            <img src="../images/03/prop-search.jpeg" alt="Search properties page"/>
            <img src="../images/03/prop-search-listing.jpeg" alt="Search properties page"/>
          </div>
        </div>

        <div id="next_proj">
          <div id="half_high">
            <a
              id="to_next_proj"
              href="/resorts"
              class="link_down"
              data-next="<span>R</span><span>e</span><span>s</span><span>o</span><span>r</span><span>t</span><span>s</span>">
              <span>N</span>
              <span>e</span>
              <span>x</span>
              <span>t</span>
            </a>
            <div id="inner_project_name">
              <span id="nom_projet">
                <span class="stag">n</span>
                <span class="stag">e</span>
                <span class="stag">x</span>
                <span class="stag">t</span>
              </span>
              project
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
