<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="user-scalable=no, width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />

    <title>Home — Raiden Dilan</title>

    <link rel="icon" type="image/png" href="../images/favicon.png" />

    <meta name="description" itemprop="description" content="I'm a full stack web developer currently working in London." />

    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="Raiden Dilan"/>
    <meta property="og:description" content="I'm a full stack web developer currently working in London." />
    <meta property="og:url" content="http://www.raidendilan.com/" />
    <meta property="og:image" content="../images/bckgrnd2.jpg" />

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@RaidenDilan" />
    <meta name="twitter:creator" content="@RaidenDilan" />
    <meta name="twitter:title" content="Raiden Dilan" />
    <meta name="twitter:description" content="I'm a full stack web developer currently working in London." />
    <meta name="twitter:image" content="../images/bckgrnd2.jpg" />

    <!-- inject:js -->
    <!-- endinject -->
    <!-- inject:css -->
    <!-- endinject -->
  </head>

  <body class="home page is-loading">
    <header>
      <a href="/home" class="logo link point front"><div>RD</div></a>
      <h2 class="raidendilan fil front"><a href="/" class="link point">RaidenDilan</a></h2>
      <div class="projects point front">
        <span>Projects</span>
        <div class="feature1"></div>
        <div class="feature2"></div>
      </div>
    </header>

    <a href="mailto:raiden18@.com" class="link point external" id="contact">contact</a>
    <a href="/about" class="link point" id="about">about</a>

    <nav id="menu">
      <ol id="the_menu">
        <li class="active"><a href="/ads" class="link" data-img="../images/06/ads.jpg">ADS</a></li>
        <li><a href="/rdt" class="link" data-img="../images/05/rdt.jpg">RDT</a></li>
        <li><a href="/palm-trees" class="link" data-img="../images/04/palm-trees.jpeg">Palm Trees</a></li>
        <li><a href="/grouparty" class="link" data-img="../images/03/home-1698x1080.jpg">Grouparty</a></li>
        <li><a href="/resorts" class="link" data-img="../images/02/home-1.jpg">Resorts</a></li>
      </ol>

      <a href="#" class="link" id="pixi_menu"></a>
    </nav>

    <div id="progress"></div>

    <div id="main">

      <div id="images">
        <div data-year="2018" data-url="../images/06/ads.jpeg" data-title="<span>Architectural</span> <span>Design</span> <span>Services</span>" data-cat="[ UI, Web Design ]" data-perma="/ads"></div>
        <div data-year="2018" data-url="../images/05/rdt-gradient.jpeg" data-title="<span>Rawand</span> <span>Dilan</span> <span>Therapy</span>" data-cat="[ UI Design ]" data-perma="/rdt"></div>
        <div data-year="2017" data-url="../images/04/palm-trees.jpeg" data-title="<span>Palm Trees</span>" data-cat="[ Web design ]" data-perma="/palm-trees"></div>
        <div data-year="2017" data-url="../images/03/home-1698x1080-gradient.jpeg" data-title="<span>Grouparty</span>" data-cat="[ Web design ]" data-perma="/grouparty"></div>
        <div data-year="2017" data-url="../images/02/home-1-gradient.jpeg" data-title="<span>Resorts</span>" data-cat="[ Web design ]" data-perma="/resorts"></div>
      </div>

      <div id="num_letter">
        <div class="change_project"><div class="letter">a</div></div>
        <div class="change_project"><div class="letter">r</div></div>
        <div class="change_project"><div class="letter">p</div></div>
        <div class="change_project"><div class="letter">g</div></div>
        <div class="current first change_project"><div class="letter">r</div></div>
      </div>

      <div id="social">
        <a target="_blank" href="https://www.facebook.com/raidendilan" class="point external">Fb</a>
        <a target="_blank" href="https://www.instagram.com/raidendilan" class="point external">In</a>
        <a target="_blank" href="https://www.linkedin.com/in/raidendilan" class="point external">Li</a>
      </div>

      <section id="inner_col">
        <div id="col1">
          <svg width="62px" height="62px" viewBox="0 0 62 62" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <g id="Artboard-Copy-5" transform="translate(-329.000000, -269.000000)" stroke="#FFFFFF" stroke-width="2">
                <g id="Group-4" transform="translate(330.000000, 270.000000)">
                  <circle id="Oval" opacity="0.2" cx="30" cy="30" r="30"></circle>
                </g>
              </g>
            </g>
          </svg>

          <svg id="white_circle" width="62px" height="62px" viewBox="0 0 62 62" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <g class="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <g class="Artboard-Copy-5" transform="translate(-329.000000, -269.000000)" stroke="#FFFFFF" stroke-width="2">
                <g class="Group-4" transform="translate(330.000000, 270.000000)">
                  <circle class="Oval" opacity="0.5" cx="30" cy="30" r="30"></circle>
                </g>
              </g>
            </g>
          </svg>

          <div>
            <div class="random first">
              <a class="update_link" href="#">View project</a><br />
            </div>
            <span class="random first" id="year"></span>
          </div>
        </div>

        <div id="col2">
          <div id="type" class="random first"></div>

          <a href="#" class="update_link inner_h2">
            <h2 id="title_h2"><span class="random first"></span></h2>
          </a>

          <div id="prev_next">
            <div id="prev" class="to_prev">
              <svg width="12px" height="8px" viewBox="0 0 12 8" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <g class="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <g class="Artboard-Copy-5" transform="translate(-569.000000, -625.000000)" stroke="#FFFFFF" stroke-width="2">
                    <g class="Group-6" transform="translate(570.000000, 623.000000)">
                      <polyline class="Rectangle-2" transform="translate(4.949747, 8.949747) scale(-1, -1) rotate(-45.000000) translate(-4.949747, -8.949747) " points="8.44974747 12.4497475 1.44974747 12.4497475 1.44974747 5.44974747 1.44974747 5.44974747"></polyline>
                    </g>
                  </g>
                </g>
              </svg>
            </div>

            <div id="next" class="to_next">
              <svg width="12px" height="8px" viewBox="0 0 12 8" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <g class="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <g class="Artboard-Copy-5" transform="translate(-569.000000, -625.000000)" stroke="#FFFFFF" stroke-width="2">
                    <g class="Group-6" transform="translate(570.000000, 623.000000)">
                      <polyline class="Rectangle-2" transform="translate(4.949747, 8.949747) scale(-1, -1) rotate(-45.000000) translate(-4.949747, -8.949747) " points="8.44974747 12.4497475 1.44974747 12.4497475 1.44974747 5.44974747 1.44974747 5.44974747"></polyline>
                    </g>
                  </g>
                </g>
              </svg>
            </div>
          </div>

          <div id="num" class="random first">
            <span id="slash">/ </span>0<span id="num_project">2</span>
            <span id="work"> [ work ]</span>
          </div>

        </div>
      </section>

      <div id="inner_canvas"></div>
    </div>
  </body>
</html>
