<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="user-scalable=no, width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>Raiden Dilan</title>
    <!-- <link rel="stylesheet" type="text/css" href="mustafa-çelik-unminified/css/style.css"> -->
    <!-- <link rel="icon" type="image/png" href="themes/mustafa/img/favicon.png"> -->
    <meta name="description" itemprop="description" content="I&#39;m an art director currently working in Zurich.">

    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Mustafa Çelik">
    <meta property="og:description" content="I&#39;m an art director currently working in Zurich.">
    <meta property="og:url" content="http://www.raidendilan.co.uk/">
    <!-- <meta property="og:image" content="themes/mustafa/img/bckgrnd2.jpg"> -->

    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@TheMustafaCelik">
    <meta name="twitter:creator" content="@TheMustafaCelik">
    <meta name="twitter:title" content="Mustafa Çelik">
    <meta name="twitter:description" content="I&#39;m an art director currently working in Zurich.">
    <!-- <meta name="twitter:image" content="themes/mustafa/img/bckgrnd2.jpg"> -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/pixi.js/5.1.3/pixi.min.js"></script>

    <!-- inject:js -->
    <!-- endinject -->
    <!-- inject:css -->
    <!-- endinject -->
  </head>
  <body class="home page-template page-template-accueil page-template-accueil-php page page-id-5 is-loading">

    <header>
      <a href="/index" class="logo link point front"><div>MC</div></a>
      <h2 class="mustafacelik fil front"><a href="/index" class="link point">MustafaCelik</a></h2>
      <div class="all_works front point">
        <span>All Works</span>
        <div class="feature1"></div>
        <div class="feature2"></div>
        <!-- <div class="feature3"></div> -->
      </div>
    </header>

    <a href="mailto:mustcelik@gmail.com" class="link point external" id="contact">contact</a>
    <a href="/about" class="link point" id="about">about</a>

    <!-- <div id="fondrouge"></div> -->
    <!-- <section id="inner_menu"> -->
    <nav id="menu">
      <!-- <a href="" class="logo link point"><div>MC</div></a>
      <h2 class="mustafacelik"><a href="" class="link point">MustafaCelik</a></h2>
      <div class="all_works point">
        <span>All Works</span>
        <div class="feature1"></div>
        <div class="feature2"></div>
      </div> -->

      <ol id="the_menu">
        <li class="actif" data-id="postid-59">
          <a
            href="/top-paddock"
            class="link"
            data-img="/images/tp-hm2.jpg">Top Paddock
          </a>
        </li>
        <li data-id="postid-57">
          <a
            href="/band-some"
            class="link"
            data-img="/images/bandsome.jpg">Band Some
          </a>
        </li>
        <li data-id="postid-47">
          <a
            href="/einwik"
            class="link"
            data-img="/images/einwick.jpg"
            >
            Einwick
          </a>
        </li>
        <li data-id="postid-45">
          <a
            href="/ohlinnyc"
            class="link"
            data-img="/images/ohlinb.jpg"
            >
            Ohlin Nyc
          </a>
        </li>
        <li data-id="postid-43">
          <a
            href="/higher-ground"
            class="link"
            data-img="/images/higherground2.jpg"
            >
            Higher Ground
          </a>
        </li>
        <li data-id="postid-13">
          <a
            href="/cluse"
            class="link"
            data-img="/images/cluse-hm.jpg"
            >
            Cluse
          </a>
        </li>
        <!-- <li class="actif"><a href="/works/cluse" class="link" data-img="/img/img2.jpg">Cluse</a></li>
        <li><a href="#" class="link" data-img="/images/ohlinb.jpg">Ohlin-b</a></li>
        <li><a href="#" class="link" data-img="/images/bandsome.jpg">Bandsome</a></li>
        <li><a href="#" class="link" data-img="/images/hieghtground2.jpg">Higher Ground</a></li>
        <li><a href="#" class="link" data-img="/images/tp-hm2.jpg">Top Paddock</a></li>
        <li><a href="#" class="link" data-img="/images/einwick.jpg">Einwick</a></li> -->
      </ol>

      <a href="#" class="link" id="pixi_menu"></a>
    </nav>
    <!-- </section> -->

    <div id="progress"></div>

    <div id="main">

      <div id="images">
        <div
          data-year="2017"
          data-url="/images/tp-hm2.jpg"
          data-title="<span>Top</span><span>Paddock</span>"
          data-cat="[ UI, Web Design ]"
          data-perma="/top-paddock"
          >
        </div>
        <div
          data-year="2015"
          data-url="/images/bandsome.jpg"
          data-title="<span>Band</span><span>Some</span>"
          data-cat="[ UI Design ]"
          data-perma="/band-some"
          >
        </div>
        <div
          data-year="2016"
          data-url="/images/einwick.jpg"
          data-title="<span>Einwick</span>"
          data-cat="[ Web design ]"
          data-perma="/einwick"
          >
        </div>
        <div
          data-year="2017"
          data-url="/images/ohlinb.jpg"
          data-title="<span>Ohlin</span><span>Nyc</span>"
          data-cat="[ Web design ]"
          data-perma="/ohlin-nyc"
          >
        </div>
        <div
          data-year="2017"
          data-url="/images/higherground2.jpg"
          data-title="<span>Higher</span><span>Ground</span>"
          data-cat="[ Web design ]"
          data-perma="/higher-ground"
          >
        </div>
        <div
          data-year="2016"
          data-url="/images/cluse-hm.jpg"
          data-title="<span>Cluse</span>"
          data-cat="[ UI, UX, Art direction ]"
          data-perma="/cluse"
          >
        </div>
        <!-- <div data-year="2017" data-url="/img/img2.jpg" data-title="<span>Cluse</span>" data-cat="[ Web design - USA ]" data-perma="/works/cluse"></div>
        <div data-year="1960" data-url="/img/fran.jpg" data-title="<span>Higher</span> <span>Ground</span>" data-cat="[ Web design - Tokyo ]" data-perma="http://www.google.com"></div>
        <div data-year="2018" data-url="/img/img2.jpg" data-title="<span>Projet</span> <span>3</span>" data-cat="[ Web design - Perth ]" data-perma="http://www.google.au"></div>
        <div data-year="2018" data-url="/img/img1.jpg" data-title="<span>Top</span> <span>Paddock</span>" data-cat="[ Web design - Perth ]" data-perma="http://www.google.jp"></div> -->
      </div>

      <div id="num_letter">
        <div class="change_project">
          <div class="letter">t</div>
        </div>
        <div class="change_project">
          <div class="letter">b</div>
        </div>
        <div class="change_project">
          <div class="letter">e</div>
        </div>
        <div class="change_project">
          <div class="letter">o</div>
        </div>
        <div class="change_project">
          <div class="letter">h</div>
        </div>
        <div class="current first change_project">
          <div class="letter">c</div>
        </div>
        <!-- <div class="change_project"><div class="letter">c</div></div>
        <div class="change_project"><div class="letter">h</div></div>
        <div class="change_project"><div class="letter">p</div></div>
        <div class="current first change_project"><div class="letter">t</div></div> -->
      </div>

      <div id="social">
        <a target="_blank" href="https://www.facebook.com/themustafacelik" class="point external">Fb</a>
        <a target="_blank" href="https://www.instagram.com/themustafacelik" class="point external">In</a>
      </div>

      <section id="inner_col">
        <div id="col1">
          <svg width="62px" height="62px" viewBox="0 0 62 62" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <!-- Generator: Sketch 48.2 (47327) - http://www.bohemiancoding.com/sketch -->
            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <g id="Artboard-Copy-5" transform="translate(-329.000000, -269.000000)" stroke="#FFFFFF" stroke-width="2">
                <g id="Group-4" transform="translate(330.000000, 270.000000)">
                  <circle id="Oval" opacity="0.2" cx="30" cy="30" r="30"></circle>
                </g>
              </g>
            </g>
          </svg>

          <svg id="white_circle" width="62px" height="62px" viewBox="0 0 62 62" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <!-- Generator: Sketch 48.2 (47327) - http://www.bohemiancoding.com/sketch -->
            <g class="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <g class="Artboard-Copy-5" transform="translate(-329.000000, -269.000000)" stroke="#FFFFFF" stroke-width="2">
                <g class="Group-4" transform="translate(330.000000, 270.000000)">
                  <circle class="Oval" opacity="0.5" cx="30" cy="30" r="30"></circle>
                </g>
              </g>
            </g>
          </svg>

          <div>
            <div class="random first">
              <a class="update_link" href="#">View project</a><br />
            </div>
            <span class="random first" id="year"></span>
          </div>
        </div>

        <div id="col2">
          <div id="type" class="random first"></div>

          <a href="#" class="update_link inner_h2">
            <h2 id="title_h2"><span class="random first"></span></h2>
          </a>

          <div id="prev_next">
            <div id="prev" class="to_prev">
              <svg width="12px" height="8px" viewBox="0 0 12 8" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <g class="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <g class="Artboard-Copy-5" transform="translate(-569.000000, -625.000000)" stroke="#FFFFFF" stroke-width="2">
                    <g class="Group-6" transform="translate(570.000000, 623.000000)">
                      <polyline class="Rectangle-2" transform="translate(4.949747, 8.949747) scale(-1, -1) rotate(-45.000000) translate(-4.949747, -8.949747) " points="8.44974747 12.4497475 1.44974747 12.4497475 1.44974747 5.44974747 1.44974747 5.44974747"></polyline>
                    </g>
                  </g>
                </g>
              </svg>
            </div>

            <div id="next" class="to_next">
              <svg width="12px" height="8px" viewBox="0 0 12 8" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <g class="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <g class="Artboard-Copy-5" transform="translate(-569.000000, -625.000000)" stroke="#FFFFFF" stroke-width="2">
                    <g class="Group-6" transform="translate(570.000000, 623.000000)">
                      <polyline class="Rectangle-2" transform="translate(4.949747, 8.949747) scale(-1, -1) rotate(-45.000000) translate(-4.949747, -8.949747) " points="8.44974747 12.4497475 1.44974747 12.4497475 1.44974747 5.44974747 1.44974747 5.44974747"></polyline>
                    </g>
                  </g>
                </g>
              </svg>
            </div>
          </div>

          <div id="num" class="random first">
            <span id="slash">/ </span>0<span id="num_project">2</span>
            <span id="work"> [ work ]</span>
          </div>

        </div>
      </section>

      <div id="inner_canvas"></div>
    </div>
  </body>
</html>
