<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="user-scalable=no, width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />

    <title>Home — Raiden Dilan</title>

    <link rel="icon" type="image/png" href="../images/favicon.png" />

    <meta name="description" itemprop="description" content="I'm a full stack web developer currently working in London." />

    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="Raiden Dilan"/>
    <meta property="og:description" content="I'm a full stack web developer currently working in London." />
    <meta property="og:url" content="http://www.raidendilan.com/" />
    <meta property="og:image" content="../images/bckgrnd2.jpg" />

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@RaidenDilan" />
    <meta name="twitter:creator" content="@RaidenDilan" />
    <meta name="twitter:title" content="Raiden Dilan" />
    <meta name="twitter:description" content="I'm a full stack web developer currently working in London." />
    <meta name="twitter:image" content="../images/bckgrnd2.jpg" />

    <!-- inject:css -->
    <!-- endinject -->
    <!-- inject:js -->
    <!-- endinject -->
  </head>
  <body class="home page is-loading">
    <header>
      <div id="social">
        <!-- <a target="_blank" href="https://www.facebook.com/raidendilan" class="point3 external">FB</a> -->
        <!-- <a target="_blank" href="https://www.instagram.com/raidendilan" class="point3 external">IN</a> -->
        <a target="_blank" href="https://github.com/raidendilan" class="link point3 front external">
          GH
          <svg class="svg_menu" width="170" height="10" viewBox="0 0 170 5" fill="none" xmlns="http://www.w3.org/2000/svg" style="width: 24px;">
            <path
              class="svg_line" d="M1 4C6.42012 3.90335 11.4217 3.49649 16.8086 3.23433C37.7681 2.21431 59.5389 1.2828 80.6174 1.10828C110.043 0.864635 139.569 1.10831 169 1.10831"
              stroke="#FFFFFF"
              stroke-width="10"
              stroke-linecap="round"
              stroke-linejoin="round"
              style="stroke-dashoffset: 1000;"
              >
            </path>
          </svg>
        </a>
        <a target="_blank" href="https://www.linkedin.com/in/raidendilan" class="link point3 front external">
          LI
          <svg class="svg_menu" width="170" height="10" viewBox="0 0 170 5" fill="none" xmlns="http://www.w3.org/2000/svg" style="width: 15px;">
            <path
              class="svg_line" d="M1 4C6.42012 3.90335 11.4217 3.49649 16.8086 3.23433C37.7681 2.21431 59.5389 1.2828 80.6174 1.10828C110.043 0.864635 139.569 1.10831 169 1.10831"
              stroke="#FFFFFF"
              stroke-width="15"
              stroke-linecap="round"
              stroke-linejoin="round"
              style="stroke-dashoffset: 1000;"
              >
            </path>
          </svg>
        </a>
      </div>

      <a href="/" class="logo link point3 front">
        <div>RD</div>
        <svg class="svg_menu" width="170" height="10" viewBox="0 0 170 5" fill="none" xmlns="http://www.w3.org/2000/svg" style="width: 34px;">
          <path
            class="svg_line"
            d="M1 4C6.42012 3.90335 11.4217 3.49649 16.8086 3.23433C37.7681 2.21431 59.5389 1.2828 80.6174 1.10828C110.043 0.864635 139.569 1.10831 169 1.10831"
            stroke="#FFFFFF"
            stroke-width="6.6"
            stroke-linecap="round"
            stroke-linejoin="round"
            style="stroke-dashoffset: 1000;"
            >
          </path>
        </svg>
      </a>

      <div class="projects point3 front">
        <div class="bar feature1"></div>
        <div class="bar feature2"></div>
        <div class="bar feature3"></div>
      </div>
    </header>

    <a href="mailto:raiden18@.com" class="link point3 external" id="contact">
      <svg xmlns="http://www.w3.org/2000/svg" class="triger all_work ng-scope" viewBox="0 0 94.62 89.96">
        <text text-anchor="middle" x="50" y="50" class="small ng-binding">CONTACT</text>
        <title>raidendilan</title>
        <g>
          <g>
            <path class="cls-1" d="M1,43.57S3.65,3.86,41.45,1.16C71.57-1,83.62,18.58,88.14,31.29c4,11.24,7.19,42.65-28.83,54.84C22,98.77,8.44,65.55,7.17,56.47S5.9,23.12,28.61,9.23C51-4.44,73.49,3.33,84.91,18c8.61,11.07,16.52,41.61-5.84,62.21-19.55,16.42-51.16,6.29-59.72-8-6.1-10.2-5.29-23.07-5.29-23.07"></path>
          </g>
        </g>
      </svg>
    </a>
    <a href="/about" class="link point3" id="about">
      <svg xmlns="http://www.w3.org/2000/svg" class="triger all_work ng-scope" viewBox="0 0 94.62 89.96">
        <text text-anchor="middle" x="50" y="50" class="small ng-binding">ABOUT</text>
        <title>raidendilan</title>
        <g>
          <g>
            <path class="cls-1" d="M1,43.57S3.65,3.86,41.45,1.16C71.57-1,83.62,18.58,88.14,31.29c4,11.24,7.19,42.65-28.83,54.84C22,98.77,8.44,65.55,7.17,56.47S5.9,23.12,28.61,9.23C51-4.44,73.49,3.33,84.91,18c8.61,11.07,16.52,41.61-5.84,62.21-19.55,16.42-51.16,6.29-59.72-8-6.1-10.2-5.29-23.07-5.29-23.07"></path>
          </g>
        </g>
      </svg>
    </a>

    <nav id="menu">
      <ol id="the_menu">
        <li data-id="ads" class="active"><a href="/ads" class="link" data-img="../images/06/ads.jpeg">ADS</a></li>
        <li data-id="rdt"><a href="/rdt" class="link" data-img="../images/05/rdt.jpeg">RDT</a></li>
        <li data-id="palm-trees"><a href="/palm-trees" class="link" data-img="../images/04/palm-trees.jpeg">Palm Trees</a></li>
        <li data-id="grouparty"><a href="/grouparty" class="link" data-img="../images/03/home-1698x1080.jpeg">Grouparty</a></li>
        <li data-id="resorts"><a href="/resorts" class="link" data-img="../images/02/home-1.jpeg">Resorts</a></li>
      </ol>

      <div class="first_line"></div>
      <div class="second_line"></div>
      <div class="third_line"></div>

      <svg class="svg-circle" viewBox="0 0 625 625" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <g transform="translate(-319.000000, -257.000000)" stroke="#FFFFFF" stroke-width="1">
            <g transform="translate(330.000000, 270.000000)">
              <circle class="Oval" opacity="0.1" cx="300" cy="300" r="300"></circle>
            </g>
          </g>
        </g>
      </svg>

      <svg class="svg-circle" viewBox="0 0 625 625" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <g transform="translate(-319.000000, -257.000000)" stroke="#000000" stroke-width="1">
            <g class="Group-4" transform="translate(330.000000, 270.000000)">
              <circle class="Oval" opacity="0.1" cx="300" cy="300" r="300"></circle>
            </g>
          </g>
        </g>
      </svg>

      <a href="#" class="link" id="pixi_menu"></a>
    </nav>

    <div id="progress"></div>

    <div id="main">
      <div id="images">
        <div data-year="2018 /" data-url="../images/06/ads.jpeg" data-title="<span>ADS</span>" data-cat="[ UI, UX, Web Design, Art Direction ]" data-perma="ads"></div>
        <!-- <div data-year="2018 /" data-url="../images/06/ads.jpeg" data-title="<span>Architectural</span> <span>Design</span> <span>Services</span>" data-cat="[ UI, UX, Web Design, Art Direction ]" data-perma="ads"></div> -->
        <div data-year="2018 /" data-url="../images/05/rdt-gradient.jpeg" data-title="<span>Rawand</span> <span>Dilan</span> <span>Therapy</span>" data-cat="[ UI, UX, Web Design, Art Direction ]" data-perma="rdt"></div>
        <div data-year="2017 /" data-url="../images/04/palm-trees.jpeg" data-title="<span>Palm Trees</span>" data-cat="[ UI, UX, Web Design, Art Direction ]" data-perma="palm-trees"></div>
        <div data-year="2017 /" data-url="../images/03/home-1698x1080-gradient.jpeg" data-title="<span>Grouparty</span>" data-cat="[ UI, UX, Web Design, Art Direction ]" data-perma="grouparty"></div>
        <div data-year="2017 /" data-url="../images/02/home-1-gradient.jpeg" data-title="<span>Resorts</span>" data-cat="[ UI, UX, Web Design, Art Direction ]" data-perma="resorts"></div>
      </div>
      <div id="num_letter">
        <div class="change_project"><div class="letter">a</div></div>
        <div class="change_project"><div class="letter">r</div></div>
        <div class="change_project"><div class="letter">p</div></div>
        <div class="change_project"><div class="letter">g</div></div>
        <div class="current first change_project"><div class="letter">r</div></div>
      </div>
      <section id="inner_col">
        <div class="first_line"></div>
        <div class="second_line"></div>
        <div class="third_line"></div>

        <div id="col1">
          <svg class="svg-circle" id="home-circle" viewBox="0 0 625 625" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <g transform="translate(-319.000000, -257.000000)" stroke="#FFFFFF" stroke-width="1">
                <g transform="translate(330.000000, 270.000000)">
                  <circle opacity="0.1" cx="300" cy="300" r="300"></circle>
                </g>
              </g>
            </g>
          </svg>

          <svg class="svg-circle" id="white_circle" viewBox="0 0 625 625" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <g transform="translate(-319.000000, -257.000000)" stroke="#FFFFFF" stroke-width="1">
                <g class="Group-4" transform="translate(330.000000, 270.000000)">
                  <circle class="Oval" opacity="0.5" cx="300" cy="300" r="300"></circle>
                </g>
              </g>
            </g>
          </svg>

          <div>
            <div class="random first">
              <a class="update_link" href="#">
                View project
                <svg class="svg_menu" width="170" height="10" viewBox="0 0 170 5" fill="none" xmlns="http://www.w3.org/2000/svg" style="width: 84px;">
                  <path class="svg_line" d="M1 4C6.42012 3.90335 11.4217 3.49649 16.8086 3.23433C37.7681 2.21431 59.5389 1.2828 80.6174 1.10828C110.043 0.864635 139.569 1.10831 169 1.10831" stroke="#FFFFFF" stroke-width="3.6" stroke-linecap="round" stroke-linejoin="round" style="stroke-dashoffset: 1000;"></path>
                </svg>
              </a>
            </div>
            <span class="random first" id="year"></span>
          </div>
        </div>

        <div id="col2">
          <div id="type" class="random first"></div>

          <a href="#" class="update_link inner_h2">
            <h2 id="title_h2"><span class="random first"></span></h2>
          </a>

          <div id="prev_next">
            <div id="prev" class="to_prev">
              <svg width="12px" height="8px" viewBox="0 0 12 8" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <g transform="translate(-569.000000, -625.000000)" stroke="#FFFFFF" stroke-width="2">
                    <g transform="translate(570.000000, 623.000000)">
                      <polyline
                        transform="translate(4.949747, 8.949747) scale(-1, -1) rotate(-45.000000) translate(-4.949747, -8.949747)"
                        points="8.44974747 12.4497475 1.44974747 12.4497475 1.44974747 5.44974747 1.44974747 5.44974747"
                        >
                      </polyline>
                    </g>
                  </g>
                </g>
              </svg>
            </div>

            <div id="next" class="to_next">
              <svg width="12px" height="8px" viewBox="0 0 12 8" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <g transform="translate(-569.000000, -625.000000)" stroke="#FFFFFF" stroke-width="2">
                    <g transform="translate(570.000000, 623.000000)">
                      <polyline
                        transform="translate(4.949747, 8.949747) scale(-1, -1) rotate(-45.000000) translate(-4.949747, -8.949747)"
                        points="8.44974747 12.4497475 1.44974747 12.4497475 1.44974747 5.44974747 1.44974747 5.44974747"
                        >
                      </polyline>
                    </g>
                  </g>
                </g>
              </svg>
            </div>
          </div>

          <div id="num" class="random first">
            <span id="slash">/ </span>0<span id="num_project">2</span>
            <span id="work"> [ work ]</span>
          </div>

        </div>

      </section>
      <div id="inner_canvas"></div>
    </div>
  </body>
</html>
