<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="user-scalable=no, width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />

    <title>Palm Trees — Raiden Dilan</title>

    <link rel="icon" type="image/png" href="../images/favicon.png" />

    <meta name="description" itemprop="description" content="I'm a full stack web developer currently working in London." />

    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="Raiden Dilan"/>
    <meta property="og:description" content="I'm a full stack web developer currently working in London." />
    <meta property="og:url" content="http://www.raidendilan.co.uk/" />
    <meta property="og:image" content="../images/bckgrnd2.jpg" />

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@RaidenDilan" />
    <meta name="twitter:creator" content="@RaidenDilan" />
    <meta name="twitter:title" content="Raiden Dilan" />
    <meta name="twitter:description" content="I'm a full stack web developer currently working in London." />
    <meta name="twitter:image" content="../images/bckgrnd2.jpg" />

    <!-- inject:css -->
    <!-- endinject -->
    <!-- inject:js -->
    <!-- endinject -->
  </head>
  <body class="works-template-default single single-works is-loading">
    <header>
      <a href="/home" class="logo link point ahead"><div>DR</div></a>
      <h2 class="raidendilan fil front"><a href="/" class="lien point">RaidenDilan</a></h2>
      <div class="projects point front">
        <span>Projects</span>
        <div class="feature1"></div>
        <div class="feature2"></div>
      </div>
    </header>

    <a href="mailto:raidendilan@me.com" class="external point link" id="contact">contact</a>
    <a href="/about" class="lien point" id="about">about</a>

    <nav id="menu">
      <ol id="the_menu">
        <li class="active"><a href="/ads" class="link" data-img="../images/06/ads.jpeg">ADS</a></li>
        <li><a href="/rdt" class="link" data-img="../images/05/rdt.jpg">RDT</a></li>
        <li><a href="/palmt-rees" class="link" data-img="../images/04/palm-trees.jpeg">Palm Trees</a></li>
        <li><a href="/grouparty" class="link" data-img="../images/03/home-1698x1080.jpg">Grouparty</a></li>
        <li><a href="/resorts" class="link" data-img="../images/02/home-1.jpg">Resorts</a></li>
      </ol>
      <a href="#" class="lien" id="pixi_menu"></a>
    </nav>

    <div id="progress"></div>

    <div id="main">
      <div class="vs-section">
        <h1 class="random">Palm Trees</h1>
        <div class="datas">
          <span class="random">UI, UX, Web Design, Art Direction</span>
          <a target="_blank" class="random external point black" href="https://palmtrees.herokuapp.com/">Visit the website</a>
          <span class="random">2017</span>
        </div>

        <div id="cover" class="cover" data-img="images/04/palm-trees.jpeg"></div>

        <div class="inner_img">
          <div id="the_imgs" class="wrap">
            <img src="../images/04/home.jpeg" alt="Home page"/>
            <img src="../images/04/login.jpeg" alt="Login page"/>
            <img src="../images/04/new-group.jpeg" alt="Create new group page"/>
            <img src="../images/04/edit-group.jpeg" alt="Edit group page"/>
            <img src="../images/04/new-holiday.jpeg" alt="Create new holiday page"/>
            <img src="../images/04/show-holiday.jpeg" alt="Show holiday page"/>
            <img src="../images/04/edit-holiday.jpeg" alt="Edit holiday page"/>
            <img src="../images/04/flight-search.jpeg" alt="Show flights page"/>
            <img src="../images/04/profile.jpeg" alt="User profile page"/>
          </div>
        </div>

        <div id="next_proj">
          <div id="half_high">
            <a
              id="to_next_proj"
              href="/grouparty"
              class="lien_bas"
              data-next="<span>G</span><span>r</span><span>o</span><span>u</span><span>p</span><span>a</span><span>r</span><span>t</span><span>y</span>"
              >
              <span>N</span>
              <span>e</span>
              <span>x</span>
              <span>t</span>
            </a>
            <div id="inner_project_name">
              <span id="project_name">
                <span class="stag">n</span>
                <span class="stag">e</span>
                <span class="stag">x</span>
                <span class="stag">t</span>
              </span>
              project
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
