.page-template-about #main {
  background: $white;
}

.page-template-about .random {
  opacity: 0;
}

#about, #contact {
  font: 400 normal 10px/10px 'Graphik';
  text-transform: uppercase;
  position: fixed;
  padding: 6px;
  z-index: 2;
  -webkit-transition: 0.1s;
          transition: 0.1s;
  -webkit-transition-property: top;
          transition-property: top;
}

#about {
  top: 50vh;
  left: calc(5vw - 20px);
  // left: calc(5vw - 30px);
  // left: calc(7vw - 30px);
  -webkit-transform-origin: 50% 0%;
          transform-origin: 50% 0%;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

@media (max-width: 767px) {
  #about {
    left: 6px;
  }
}

#contact {
  top: 50vh;
  right: calc(5vw - 20px);
  // right: calc(5vw - 36px);
  // right: calc(7vw - 36px);
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transform-origin: 50% 0%;
          transform-origin: 50% 0%;
}

@media (max-width: 767px) {
  #contact {
      right: -2px;
  }
}

.madein {
  padding: 0 0 0 26vw;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  z-index: 2;
}

@media (max-width: 767px) {
  .madein {
    padding: 0 0 0 35px;
  }
}

.madein > div:first-child {
  font: 400 normal 13px/23px 'Graphik';
}

.madein svg {
  margin-left: 10px;
}

.city {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 36vw;
  flex: 0 0 36vw;
  font: 600 normal 24px/32px 'Graphik';
  z-index: 2;
}

@media (max-width: 767px) {
  .city {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    margin-right: 72px;
  }
}

@media (max-width: 767px) {
  .city > div:first-child {
    display: none;
  }
}

.city #inner_svg {
  width: 65px;
  height: 65px;
  position: relative;
  margin-top: 120px;
  opacity: 0;
}

@media (max-width: 767px) {
  .city #inner_svg {
    margin-top: 50px;
  }
}

.city #inner_svg * {
  position: absolute;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}

.city #inner_svg #d {
  top: 0;
  left: 29px;
}

.city #inner_svg #e {
  top: 15px;
  right: 3px;
}

.city #inner_svg #s {
  bottom: 15px;
  right: 3px;
}

.city #inner_svg #i {
  bottom: 0;
  left: 30px
}

.city #inner_svg #g {
  bottom: 15px;
  left: 3px;
}

.city #inner_svg #n {
  top: 15px;
  left: 3px;
}


.sotd {
  padding: 10vw 0 0 51%;
  font: 400 normal 13px/36px 'Graphik';
  position: relative;
}

@media (max-width: 767px) {
  .sotd {
    padding: 28vw 0 0 36px;
  }
}

.sotd h3 {
  position: absolute;
  font: 400 normal 13px/36px 'Graphik';
  color: #ACACAC;
  right: calc(49% + 78px);
  white-space: nowrap;
}

@media (max-width: 767px) {
  .sotd h3 {
    position: relative;
    right: auto;
    padding-bottom: 13px;
  }
}

.sotd > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 767px) {
  .sotd > div {
    width: calc(100% - 54px);
  }
}

.sotd > div div:first-child {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 152px;
  flex: 0 0 152px;
}

@media (max-width: 767px) {
  .sotd > div div:first-child {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 52%;
    flex: 0 0 52%;
  }
}

.sotd > div div:nth-child(2) {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 112px;
  flex: 0 0 112px;
}

@media (max-width: 767px) {
  .sotd > div div:nth-child(2) {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 37%;
    flex: 0 0 37%;
  }
}

.sotd > div div:last-child {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  color: #9E9E9E;
  font-size: 10px;
  position: relative;
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
}

@media (max-width: 767px) {
  .sotd > div div:last-child {
    text-align: right;
  }
}

.reach {
  padding: 18vw 0 0 calc(51% - 6px);
  position: relative;
}

@media (max-width: 767px) {
  .reach {
    padding: 25vw 0 0 36px;
  }
}

.reach h3 {
  position: absolute;
  font: 400 normal 13px/36px 'Graphik';
  color: #ACACAC;
  right: calc(49% + 78px);
  white-space: nowrap;
  top: calc(18vw + 12px);
}

@media (max-width: 767px) {
  .reach h3 {
    position: relative;
    right: auto;
    padding: 0 0 21px;
    top: 0;
  }
}

.reach a {
  font: 500 normal 50px/50px 'Adelon';;
  color: $black;
  padding: 6px;
  position: relative;
}

@media (max-width: 767px) {
  .reach a {
    padding: 6px 6px 6px 0;
    font: 500 normal 8vw/8vw 'Adelon';
  }
}

.reach img {
  width: 20px;
  margin: 0 0 6px 6px;
}

@media (max-width: 767px) {
  .reach img {
    width: 16px;
    margin: 0 0 0 6px;
  }
}

.coded {
  padding: 9vw 0 0 calc(51% - 6px);
  position: relative;

  .point3.black {
    .svg_menu {
      // width: 76px;

      .svg_line {
      }
    }
  }
}

@media (max-width: 767px) {
  .coded {
    padding: 25vw 0 0 36px;
  }
}

.coded h3 {
  position: absolute;
  font: 400 normal 13px/36px 'Graphik';
  color: #ACACAC;
  right: calc(49% + 78px);
  white-space: nowrap;
  top: calc(9vw + 5px);
}

@media (max-width: 767px) {
  .coded h3 {
    position: relative;
    right: auto;
    top: 0;
    padding-bottom: 8px;
  }
}

.coded a {
  color: $black;
  padding: 6px;
  position: relative;
  font: 400 normal 13px/36px 'Graphik';
}

@media (max-width: 767px) {
  .coded a {
    margin-left: -6px;
  }
}


.intro {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 16vw 0 0 0;
}

@media (max-width: 767px) {
  .intro {
    padding: 38vw 0 0 0;
  }
}

.intro2 {
  position: relative;
}

.intro2 h1 {
  font: 500 normal 300px/300px 'Adelon';
  color: $black;
  // color: #F73F04;
  position: absolute;
  top: calc(100% + 252px);
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  left: calc(7.5vw + 60px);
  z-index: 2;
}

@media (max-width: 1024px) {
  .intro2 h1 {
    font: 500 normal 29vw/29vw 'Adelon';
    top: calc(100% + 24.3vw);
    left: calc(6vw + 60px);
  }
}

@media (max-width: 767px) {
  .intro2 h1 {
    display: none;
  }
}

.intro2 h1 span {
  position: relative;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  display: block;
}

.intro2 h2 {
  padding: 3.4vw 0 0 15%;
  width: 44%;
  text-align: right;
  font: 500 normal 45px/51px 'Adelon';
  position: relative;
  z-index: 2;
}

@media (max-width: 1024px) {
  .intro2 h2 {
    font: 500 normal 4.5vw/5vw 'Adelon'
  }
}

@media (max-width: 767px) {
  .intro2 h2 {
    font: 500 normal 8vw/11vw 'Adelon';
    padding: 36vw 0 0 36px;
    width: calc(100% - 72px);
  }
}

.intro2 p {
  font: 400 normal 13px/28px 'Graphik';
  padding: 7vw 22% 11vw 51%;
  z-index: 2;
  position: relative;
}

@media (max-width: 767px) {
  .intro2 p {
    padding: 46px 56px 30vw 36px;
  }
}
