.about {
  .random {
    opacity: 0;
  }
}

.background_intro {
  width: 85%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background: #DADADA;
  z-index: 1;
  transform-origin: 0 0;
  transform: scaleX(0);
}

#about, #contact {
  font: 400 normal 10px/10px $graphik;
  text-transform: uppercase;
  position: fixed;
  display: block;
  top: 45vh;
  z-index: 10;
  width: 80px;
  height: 80px;
  transition: 0.1s;
  transition-property: top;

  svg {
    pointer-events: none;
  }
  .all_work {
    padding: 6px;
    transform: scale(1.05);
    position: absolute;
    z-index: 1;
    transition: 0s;
    stroke-dasharray: 540 542;
    stroke-dashoffset: 0;
    transition: 0.5s cubic-bezier(.19, 1, .22, 1);

    text {
      fill: $white;
      position: absolute;
      width: 42px;
      height: 26px;
      font: 400 12px/16px 'MullerLight', Arial, Helvetica, sans-serif;
      text-align: center;
      letter-spacing: 2px;
      text-transform: uppercase
    }
    .cls-1 {
      fill: none;
      stroke: $white;
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke-width: 1px;
    }
  }

  &:hover .all_work {
    .cls-1 {
      animation: allWork 1.5s linear forwards;
    }
  }

  &.black {
    .all_work {
      text {
        fill: $black;
      }
      .cls-1 {
        stroke: $black;
      }
    }
  }
  &.light {
    .all_work {
      text {
        fill: $white;
      }
      .cls-1 {
        stroke: $white;
      }
    }
  }
}

#about {
  left: calc(4vw - 20px);
  transform: rotate(-90deg);

  .all_work {
    width: 80px;
  }
}

#contact {
  right: calc(4vw - 20px);
  transform: rotate(90deg);

  .all_work {
    width: 80px;
  }
}

.madein {
  padding: 0 0 0 35vw;
  flex: 0.2 1 auto;
  z-index: 2;

  div {
    color: $black;
    position: relative;

    &:first-child {
      font: 400 normal 30px/45px $graphik;
    }

    span {
      display: block;
      font: 700 normal 5.8vw/5.8vw $financierDisplay;
      margin-left: 1px;
      margin-top: -20px;
    }
  }
  svg {
    margin-left: 10px;
  }
}

.city {
  flex: 0 0 36vw;
  font: 600 normal 18px/30px $graphik;
  z-index: 2;

  #inner_svg {
    width: 65px;
    height: 65px;
    position: relative;
    margin-top: 80px;
    opacity: 0;

    * {
      position: absolute;
      transform-origin: 50% 50%;
    }
    .d {
      height: 9px;
      width: 9px;

      top: 0;
      left: 28px;
    }
    .e {
      height: 9px;
      width: 12px;

      top: 15px;
      right: 4px;
    }
    .s {
      height: 12px;
      width: 11px;
      bottom: 15px;
      right: 4px;
    }
    .i {
      width: 5px;
      height: 9px;
      bottom: 0;
      left: 29px
    }
    .g {
      height: 10px;
      width: 10px;

      bottom: 15px;
      left: 4px;
    }
    .n {
      height: 11px;
      width: 9px;
      top: 15px;
      left: 4px;
    }
  }
  div:first-child {
    padding-top: 3.5rem;
    margin-top: -6px;

    background: -webkit-gradient(left top, left bottom, color-stop(0%, $black), color-stop(58%, rgba(0, 0, 0, 1)), color-stop(100%, rgba(0, 0, 0, 1)));
    background: -webkit-linear-gradient(top, $black 0%, rgba(0, 0, 0, 1) 58%, rgba(0, 0, 0, 1) 100%);

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.awards {
  padding: 10vw 0 0 51%;
  font: 400 normal 13px/36px $graphik;
  position: relative;

  h3 {
    position: absolute;
    font: 400 normal 13px/36px $graphik;
    color: #ACACAC;
    right: calc(49% + 78px);
    white-space: nowrap;
  }
  > div {
    display: flex;

    &:first-child {
      flex: 0 0 152px;
    }
    &:nth-child(2) {
      flex: 0 0 112px;
    }
    &:last-child {
      flex: 1 1 auto;
      color: #9E9E9E;
      font-size: 10px;
      position: relative;
      transform: translateY(1px);
    }
  }
}

.past_projs {
  padding: 10vw 0 0 calc(39% + 6px);
  font: 400 normal 14px/36px $graphik;
  position: relative;

  > div {
    display: flex;

    div:first-child {
      flex: 0 0 210px
    }

    div:last-child {
      flex: 1 1 auto;
      color: #9E9E9E;
      font-size: 12px;
      position: relative;
      transform: translateY(1px);
    }
  }
  div:nth-child(2) {
    flex: 0 0 112px
  }
  h3 {
    position: absolute;
    font: 400 normal 13px/36px $graphik;
    color: #ACACAC;
    right: calc(49% + 78px);
    white-space: nowrap;
  }
}

.point3 {
  &:hover {
    .svg_menu {
      path.svg_line {
        animation: dash4 0.5s linear forwards;
      }
    }
    .svg_underline {
      path.svg_line {
        animation: dash4 0.5s linear forwards;
      }
    }
  }
}

footer {
  font-size: 0;
  padding: 19vw 0 15vw calc(45% - 15px);
  position: relative;

  a {
    display: inline-block;
    font: 400 normal 13px/13px $graphik;
    color: #ACACAC;
    position: relative;
    padding: 6px 15px;
    padding: 15px;
    z-index: 10;

    &::after {
      left: 15px !important
    }
  }
  h3 {
    color: $black;
    position: absolute;
    right: 126px;
    bottom: 126px;
    font: 500 normal 300px/300px 'Adelon';
    z-index: 9;
    transform: rotate(90deg);
  }
}

.deets-dash {
  position: absolute;
  width: 4px;
  height: 60%;
  background: $black;
  top: 20%;
  left: -10%;
  transform: rotate(90deg);
}

.reach {
  padding: 9vw 0 0 calc(40% - 6px);
  position: relative;

  h3 {
    display: inline-block;
    font: 600 normal 26px/30px $financierDisplay;
    color: #ceced6;
    white-space: nowrap;
  }
  a {
    display: inline-block;
    font: 600 normal 26px/30px $financierDisplay;
    color: $black;
    padding: 6px 6px 12px 0;
    margin-left: 30px;
    position: relative;

    .link_hover {
      pointer-events: none;
    }

    svg {
      bottom: 5px;
      left: 0;
    }
  }
  img {
    width: 23px;
  }
}

.coded {
  padding: 9vw 0 0 calc(40% - 6px);
  position: relative;

  a {
    display: inline-block;
    font: 600 normal 26px/30px $financierDisplay;
    color: $black;
    padding: 6px 0 6px 0;
    margin-left: 15px;
    position: relative;

    svg {
      margin: 0;
      bottom: 0;
      left: 0;
    }
    &:hover {
      .svg_menu {
        .svg_line {
          animation: dash4 0.5s linear forwards;
        }
      }
    }
  }
  h3 {
    display: inline-block;
    font: 600 normal 26px/30px $financierDisplay, Georgia;
    letter-spacing: 0.5px;
    color: #ceced6;
    white-space: nowrap;
  }
}

.intro {
  position: relative;
  display: flex;
  padding: 16vw 0 0 0;
}

.intro2 {
  position: relative;

  .background_intro {
    border-bottom-right-radius: 50px;
  }

  h1 {
    font: 500 normal 300px/300px 'Adelon';
    text-transform: uppercase;
    color: $black;
    position: absolute;
    top: calc(100% + 452px);
    left: calc(7.5vw + 60px);
    transform-origin: 0 0;
    transform: rotate(-90deg);
    z-index: 2;

    span {
      position: relative;
      transform-origin: 50% 50%;
      display: block;
    }
  }
  h2 {
    padding: 4vw 0 0 15%;
    width: 44%;
    text-align: right;
    font: 500 normal 45px/51px 'Adelon';
    color: #ACACAC;
    position: relative;
    z-index: 2;

    span {
      font: 600 normal 45px/51px $financierDisplay;
      color: $black;
    }
  }
  p {
    font: 400 normal 15px/28px 'Chronicle Deck A', 'Chronicle Deck B', Georgia;
    padding: 10vw 27% 10vw 40%;
    z-index: 2;
    position: relative;
  }
}

@keyframes dash {
  from {
    stroke-dashoffset: 822;
  }
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes dash4 {
  100% {
    stroke-dashoffset: 700;
  }
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}

@media (max-width: 1440px) {
  .madein {
    div {
      span {
        font: 700 normal 74px/74px $financierDisplay;
      }
    }
  }
  .city {
    div {
      &:first-child {
        font: 600 normal 25px/30px $graphik;
      }
    }
  }
  footer {
    h3 {
      right: calc(10vw - 20px);
    }
  }
}

@media (max-width: 1024px) {
  .madein {
    padding: 0 0 0 21vw;
  }
  .intro2 {
    h1 {
      font: 500 normal 180px/300px 'Adelon';
      left: calc(7vw - 20px);
    }
    p {
      padding: 10vw 25% 10vw 35%;
    }
    h2 {
      width: 55%;
      text-align: left;
      font: 500 normal 4.5vw/5vw 'Adelon';
    }
  }
  footer {
    h3 {
      right: calc(10vw - 20px);
      font: 500 normal 200px/300px 'Adelon';
    }
  }
  .past_projs {
    padding: 10vw 0 0 calc(35% + 6px);
  }
  .reach {
    padding: 10vw 0 0 calc(35% + 6px);
  }
  .coded {
    padding: 10vw 0 0 calc(35% + 6px);
  }
  .deets-dash {
    left: -18%;
  }

  #about {
    left: calc(7vw - 20px);
  }
}

@media (max-width: 767px) {
  .svg_menu, .svg_underline {
    display: none;
  }
  .awards {
    padding: 28vw 0 0 36px;
  }
  .awards h3 {
    position: relative;
    right: auto;
    padding-bottom: 13px;
  }
  .awards > div {
    width: calc(100% - 54px);
  }
  .awards > div div:first-child {
    flex: 0 0 52%;
  }
  .awards > div div:nth-child(2) {
    flex: 0 0 37%;
  }
  .awards > div div:last-child {
    text-align: right;
  }

  .reach {
    padding: 25vw 0 0 13%;

    h3 {
      font: 600 normal 21px/21px $financierDisplay, Georgia;
      position: relative;
      right: auto;
      padding: 0 0 21px;
      top: 0;
    }
    a {
      padding: 6px 0;
      margin-left: 10px;
      font: 500 normal 21px/21px 'Adelon';

      svg {
        bottom: -5px;
        left: 0;
        width: 200px;
      }
    }
    img {
      width: 30px;
    }
  }

  .coded {
    padding: 25vw 0 0 13%;

    a {
      margin-left: -6px;
      font: 600 normal 20px/20px $financierDisplay;

      div {
        padding-top: 5px;
        margin-left: 15px;
      }
      svg {
        bottom: 0px;
        left: 25px;
      }
    }
    h3 {
      font: 600 normal 21px/21px $financierDisplay, Georgia;
      position: relative;
      right: auto;
      top: 0;
      padding-bottom: 8px;
    }
  }
  .intro {
    padding: 38vw 0 0 0;
  }
  .intro2 {
    h1 {
      font: 500 normal 29vw/29vw 'Adelon';
      top: calc(100% + 24.3vw);
      left: calc(6vw + 60px);
      display: none;
    }
    h2 {
      font: 500 normal 8vw/11vw 'Adelon';
      text-align: left;
      padding: 17vw 0 0 13%;
      width: calc(100% - 33px);
    }
    p {
      padding: 13%;
    }
    span {
      font: 600 normal 45px/30px $financierDisplay;
    }
  }
  .background_intro {
    width: calc(100% - 38px);
  }

  #about, #contact {
    .all_work {
      text {
        font: 400 17px/16px 'MullerLight', Arial, Helvetica, sans-serif;
      }
      .cls-1 {
        stroke: none;
      }
    }
    &.black {
      .all_work {
        .cls-1 {
          stroke: none;
        }
      }
    }
    &.light {
      .all_work {
        text {
          fill: $white;
        }
        .cls-1 {
          display: none;
        }
      }
    }
  }
  #about {
    left: 0;
  }
  #contact {
    right: 0;
  }

  .madein {
    padding: 0 0 0 20%;

    div {
      font: 400 normal 29px/45px $graphik;
    }
  }
  .city {
    flex: none;
    margin-right: 15vw;

    div {
      &:first-child {
        font: 600 normal 18px/34px $graphik;
      }
    }
    #inner_svg {
      margin-top: 50px;
    }
  }
  .past_projs {
    padding: 28vw 0 0 45px;

    > div {
      width: calc(100% - 48px);

      div:first-child {
        flex: 0 0 65%;
      }
      div:nth-child(2) {
        flex: 0 0 35%;
      }
      div:last-child {
        text-align: right
      }
    }
    h3 {
      position: relative;
      right: auto;
      padding-bottom: 13px
    }
  }

  footer {
    padding: 25vw 0 26vw 10%;

    a {
      font: 400 normal 18px/18px $graphik;
    }
    h3 {
      display: none;
    }
  }
}

@media (max-width: 414px) {
  .intro2 {
    h2 {
      font: 500 normal 7vw/11vw 'Adelon';
      padding: 17vw 0 0 14%;
    }
  }
}

@media (max-width: 320px) {
  footer {
    padding: 15vw 0 15vw 10vw;
  }
  .intro2 {
    h2 {
      padding: 17vw 0 0 16vw;
      width: calc(100% - 50px);
      font: 500 normal 6.5vw/11vw 'Adelon';

      span {
        font: 600 normal 35px/35px $financierDisplay;
      }
    }
    p {
      padding: 16vw;
    }
  }
  .past_projs {
    padding: 28vw 0 0 45px;
    font: 400 normal 11px/36px $graphik;

    > div {
      width: calc(100% - 35px);

      div:first-child {
        flex: 0 0 60%;
      }
      div:last-child {
        font-size: 11px;
      }
    }
  }
}
