.cursor_main {
  content: '.';
  pointer-events: none;
  position: fixed;
  width: 50px;
  height: 50px;
  top: 0;
  left: 0;
  background-color: rgba(233, 106, 91, 0);
  border: 2px solid $white;
  border-radius: 50%;
  z-index: 1000;
  opacity: 0.3;
  display: none;
  transition:
    width 0.2s ease,
    left 0.2s ease,
    top 0.2s ease,
    height 0.2s ease,
    opacity 0.2s ease-in,
    background-color 0.5s;

  // &:before {
  //   content: '.';
  //   display: block;
  //   font-size: 30px;
  //   color: $white;
  //   // opacity: 0.3;
  //   position: relative;
  //   top: 0;
  //   left: 35%;
  //   transform: translate(5%, -13%); // translate(x, y);
  //   // transition: transform 0s ease, left 0s ease;
  // }
  &.black {
    border: 2px solid $black;
  }
  // &.white {
  //   border: 2px solid $white;
  // }

  &.visible {
    display: block;
  }

  &.vertical_scroll {
    left: 18px;
    top: 18px;
    opacity: 1;
    width: 14px;
    height: 14px;
    border: 2px solid $black;

    &::after {
      content: 'scroll';
      text-transform: uppercase;
      color: $black;
      font-size: 9px;
      position: absolute;
      width: 100%;
      text-align: center;
      top: -30px;
      left: -12px
    }
  }

  &.menu_opened {
    border: 2px solid $black;
  }
}

.cursor_main-small {
  width: 35px;
  height: 35px;
  top: 7.5px;
  left: 7.5px;

  // &:before {
  //   top: 0;
  //   left: 32%;
  //   transform: translate(5%, -31%);
  //   // transition: transform 0s ease, left 0s ease;
  // }
}

.cursor_junior {
  // content: '.';
  pointer-events: none;
  position: fixed;
  width: 10px;
  height: 10px;
  top: 0;
  left: 0;
  background-color: $white;
  border-radius: 50%;
  z-index: 1001;
  opacity: 0;
  transition: opacity .3s ease;
  display: none;

  &.black {
    background-color: $black;
  }
  // &.white {
  //   background-color: $white;
  // }

  &.visible {
    display: block;
  }

  &.vertical_scroll {
    opacity: 1;
    width: 4px;
    height: 4px;
    top: 3px;
    left: -14px;
    background-color: $black;
    // transform: rotate(-90deg);

    &::after {
      background-color: $black;
      border-radius: 50%;
      content: '';
      position: absolute;
      width: 4px;
      height: 4px;
      left: 34px;
      // opacity0.3;
    }
  }
}

.mainDrag {
  left: 18px;
  top: 18px;
  opacity: 1;
  width: 14px;
  height: 14px;
  border: 2px solid $drag;

  &::after {
    content: 'drag';
    position: absolute;
    width: 100%;
    top: -30px;
    left: -8px;
    color: $drag;
    text-transform: uppercase;
    font-size: 9px;
    text-align: center;
  }
}

.j_Drag {
  opacity: 1;
  width: 4px;
  height: 4px;
  top: 3px;
  left: -14px;
  background-color: $drag;

  &::after {
    background-color: $drag;
    border-radius: 50%;
    content: '';
    position: absolute;
    width: 4px;
    height: 4px;
    left: 34px;
    // opacity0.3;
  }
}

#svg-circle {
  position: absolute;
  width: 100%;
  height: 100%;
}

svg.svg-circle {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  // z-index: -10;
  // padding: 0 !important;
  // padding: calc(6vw - 1rem);
}

// #white_circle {
//   stroke-dashoffset: -438;
//   stroke-dasharray: 1009;
//   // position: absolute;
//   // top: 0;
//   // left: 0;
//   stroke-linecap: round;
//   // z-index: -1;
// }

#white_circle {
  stroke-dashoffset: 1900;
  stroke-dasharray: 1900;
  // position: fixed;
  // top: calc(20vh - 35px);
  // top: calc(40vh - 35px);
  stroke-linecap: round;
}

// svg#home-circle {
//   display: block;
//   position: fixed;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   z-index: -1;
//   // padding: calc(6vw - 1rem);
// }

.home {
  color: $white;

  &.mobile {
    #main {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
  .random.first {
    opacity: 0 !important;
  }

  #num_letter {
    position: absolute;
    bottom: calc(7vw - 6px);
    left: calc(5vw - 4px);
    // left: calc(7vw - 4px);
    font-size: 0;
    z-index: 2;

    > div {
      position: relative;
      display: inline-block;
      vertical-align: bottom;
      width: 22px;
      height: 54px;
      // cursor: pointer;
      overflow: hidden;

      .letter {
        font: 600 normal 15px/15px $graphik;
        text-transform: uppercase;
        position: absolute;
        bottom: -3px;
        width: 100%;
        text-align: center;
        // -webkit-transform: rotate(-50deg) translate(-94%, -111%); // translate(-100%, -100%);
                transform: rotate(-50deg) translate(-94%, -111%); // translate(-100%, -100%);
        height: 22px;
        padding-top: 3px;
      }

      &::before {
        content: '';
        width: 4px;
        height: 4px;
        border-radius: 100%;
        background: $white;
        opacity: 0.66;
        position: absolute;
        bottom: 6px;
        left: 9px;
        // -webkit-transition: 0.2s;
                transition: 0.2s;
      }
      &::after {
        content: '';
        height: 20px;
        width: 2px;
        background: $white;
        position: absolute;
        bottom: 22px;
        left: 10px;
        // -webkit-transform: scaleY(0);
                transform: scaleY(0);
        // -webkit-transition: 1.2s cubic-bezier(0.17, 0.67, 0, 0.99); // OR 2.2s
                transition: 1.2s cubic-bezier(0.17, 0.67, 0, 0.99); // OR 2.2s
        // -webkit-transform-origin: 0 0;
                transform-origin: 0 0;
      }
      &.current {
        .letter {
          // -webkit-transform: rotate(-45deg) translate(0%, 0%);
                  transform: rotate(-45deg) translate(0%, 0%);
        }
        &::before {
          opacity: 0;
        }
        &::after {
          // -webkit-transition: 0.7s cubic-bezier(0.17, 0.67, 0, 0.99); // OR 2.2s
                  transition: 0.7s cubic-bezier(0.17, 0.67, 0, 0.99); // OR 2.2s
          // -webkit-transform: scaleY(1);
                  transform: scaleY(1);
        }
        &.first {
          &::before {
            opacity: 0.66;
          }
          &::after {
            // -webkit-transform: scaleY(0);
                    transform: scaleY(0);
          }
          .letter {
            // -webkit-transform: rotate(-45deg) translate(-94%, -111%) !important; // 100%, -100%
                    transform: rotate(-45deg) translate(-94%, -111%) !important; // 100%, -100%
          }
        }
        &.after::after {
          // -webkit-transform: scaleY(0);
                  transform: scaleY(0);
        }
      }
      &.temp::after {
        // -webkit-transform: scaleY(0);
                transform: scaleY(0);
      }
      &.before::before {
        opacity: 0;
      }
      &.feature::after {
        // -webkit-transform: scaleY(1);
                transform: scaleY(1);
      }
    }
  }
  #main {
    #inner_canvas {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;

      canvas {
        position: fixed;
        pointer-events: none;
        z-index: -1;
        opacity: 1;
        top: 0;
        left: 0;
      }
    }
  }
  #col1 {
    // padding: calc(5vh - 34px) 0 0 19%;
    padding: calc(40vh - 34px) 0 0 17%;
    // padding: calc(40vh - 35px) 0 0 26%;
    // padding: calc(45vh - 75px) 14vw 0 0;
    display: inline-block;
    vertical-align: top;
    position: relative;
    // line-height: 0;
    height: 100vh;
    // -webkit-box-flex: 0;
    //         -ms-flex: 0 1 27%;
                flex: 0 1 27%;
    // z-index: 2;

    > div {
      // font: 400 normal 13px/25px $graphik;
      font: 500 normal 13px/35px $financierDisplay;
      // font: 400 normal 13px/35px $graphik;
      // margin-top: 208px;
      // margin-top: 116px;
      display: inline-block;
      margin-left: -76px;
      // margin-left: -56px;
      // z-index: 5;
      // margin-left: -35px;

      div.random {
        display: inline-block;
      }
      #year {
        font: 600 normal 16px/16px $financierDisplay;
      }
      #slash {
        // font: 600 normal 25px/15px $financierDisplay;
        // -webkit-transform: scaleY(0.8) translateY(-1px);
                // transform: scaleY(0.8) translateY(-1px);
        // -webkit-transform: scaleY(1) translateY(0);
                transform: scaleY(1) translateY(0);
        display: inline-block;
        margin-right: 2px;
      }

      // #work {
      //   font: 400 normal 16px/15px $financierDisplay;
      //   // font: 400 normal 11px/11px $graphik;
      //   margin-left: 5px;
      //   -webkit-transform: translateY(-2px);
      //           transform: translateY(-2px);
      //   display: inline-block;
      // }

      // .slash {
      //   // font: 600 normal 25px/15px $financierDisplay;
      //   // -webkit-transform: scaleY(0.8) translateY(-1px);
      //           // transform: scaleY(0.8) translateY(-1px);
      //   -webkit-transform: scaleY(1) translateY(0);
      //           transform: scaleY(1) translateY(0);
      //   display: inline-block;
      //   margin-right: 2px;
      // }
      a {
        // font: 500 normal 16px/20px $financierDisplay;
        color: $white;
        display: block;
        padding-bottom: 1rem;

        font: 400 normal 15px/14px $financierDisplay;
        // font: 400 normal 11px/11px $graphik;
        margin-left: 5px;
        // -webkit-transform: translateY(-2px);
                transform: translateY(-2px);
        display: inline-block;

        // &:hover .svg_line {
        //   animation: dash4 0.5s linear forwards;
        // }
      }
      span {
        font: 500 normal 13px/35px $financierDisplay;
        // font-size: 12px;
        // font-weight: 500;
        text-align: right;
        display: block;
      }
    }
    // #white_circle {
    //   stroke-dashoffset: 1900;
    //   stroke-dasharray: 1900;
    //   // position: fixed;
    //   // top: calc(20vh - 35px);
    //   // top: calc(40vh - 35px);
    //   stroke-linecap: round;
    // }
  }
  #col2 {
    padding: calc(45vh - 75px) 14vw 0 0;
    display: inline-block;
    vertical-align: top;
    position: relative;
    height: 100vh;
    // -webkit-box-flex: 0;
    //         -ms-flex: 0 1 73%;
                flex: 0 1 73%;
    z-index: 2;

    #type {
      // font: 400 normal 14px/14px $graphik;
      font: 500 normal 16px/16px $financierDisplay;
      position: absolute;
      top: calc(40vh - 56px);
      // top: calc(40vh - 96px);
      // left: calc(10vh + 96px);
    }
    #prev_next {
      bottom: calc(7vw - 17px);
      // right: 30px;
      // left: 210px;
      left: calc(20vw - 8px);
      // left: -17px;
      position: absolute;
      line-height: 0;
      font-size: 0;

      > div {
        opacity: 0.66;
        padding: 17px;
        position: relative;
        display: inline-block;
        // cursor: pointer;

        &:hover {
          opacity: 1;
        }

        svg {
          pointer-events: none;
        }
      }
      div#next {
        // -webkit-transform: rotate(180deg);
                transform: rotate(180deg);
      }
    }

    #num {
      // font: 600 normal 15px/15px $graphik;
      font: 600 normal 20px/15px $financierDisplay;
      position: absolute;
      bottom: calc(15vw - 10px);
      right: calc(10vw - 5px);
      // left: calc(52vw - 5px);

      // left: calc(35vw - 62px + 5vw);
      // left: 28vw;
      // left: 24vw;

      #slash {
        // font: 600 normal 25px/15px $financierDisplay;
        // -webkit-transform: scaleY(0.8) translateY(-1px);
                // transform: scaleY(0.8) translateY(-1px);
        // -webkit-transform: scaleY(1) translateY(0);
                transform: scaleY(1) translateY(0);
        display: inline-block;
        margin-right: 2px;
      }
      #work {
        font: 400 normal 16px/15px $financierDisplay;
        // font: 400 normal 11px/11px $graphik;
        margin-left: 5px;
        // -webkit-transform: translateY(-2px);
                transform: translateY(-2px);
        display: inline-block;
      }
    }
    .inner_h2 {
      display: block;
      position: relative;
      // position: absolute;
      // left: 0;
      margin: 20px 0 0 20px;
      // margin: 20px 0 0 0;
      color: $white;
      text-transform: uppercase;
      // z-index: 1000;

      span {
        display: block;
      }
    }
    h2 {
      // z-index: 1000;
      position: relative;
      display: block;
      font: 900 normal 70px/70px $italiana, Arial, Helvetica, sans-serif;
      // font: 300 normal 70px/70px 'MullerLight', Arial, Helvetica, sans-serif;
      // font: 300 normal 120px/120px 'Adelon';

      span:nth-child(2) {
        margin-left: 35px;
      }
      span:nth-child(3) {
        margin-left: 65px;
      }
    }
  }
  #inner_col {
    font-size: 0;
    // display: -webkit-box;
    // display: -ms-flexbox;
    display: flex;

    .first_line, .second_line, .third_line {
      width: 1px;
      position: fixed;
      top: 0;
      height: 100vh;
      background: $white;
      opacity: 0.1;
    }

    .first_line {
      left: calc(25vw - 1px);
    }
    .second_line {
      left: calc(50vw - 1px);
    }
    .third_line {
      left: calc(75vw - 1px);
    }
  }
}

#social {
  font: 500 normal 14px/14px $graphik;
  position: fixed;
  top: 15px;
  width: 102px;
  height: 72px;
  left: calc(3.75% - 24px);
  z-index: 2;

  &.light {
    a {
      color: $white;
    }
    svg.svg_menu {
      .svg_line {
        stroke: $white;
      }
    }
  }

  a {
    position: absolute;

    &:first-child {
      top: 29px;
      left: 20px;
    }
    &:last-child {
      top: 29px;
      right: 20px;
    }
  }
  .svg_menu {
    bottom: -10px;
    left: 0;
  }
}

// .logo {
//   &:hover .svg_line {
//     animation: dash4 0.5s linear forwards;
//   }
// }

// .svg_menu path {
//   stroke-dasharray: 1000;
//   stroke-dashoffset: 0;
// }

@keyframes dash4 {
  100% {
    stroke-dashoffset: 700;
  }
}

@keyframes allWork {
  59% {
    stroke-dashoffset: -541;
    opacity: 1
  }

  60% {
    stroke-dashoffset: -541;
    opacity: 0
  }

  61% {
    stroke-dashoffset: 541;
    opacity: 0
  }

  62% {
    stroke-dashoffset: 541;
    opacity: 1
  }

  100% {
    stroke-dashoffset: 0;
    opacity: 1
  }
}

.triger {
  opacity: 0.8;
  // -webkit-transition: 0.5s ease-in-out;
  //      -o-transition: 0.5s ease-in-out;
          transition: 0.5s ease-in-out;
}

// // Apple iMac 5K Retina Display
// @media (max-width: 2880px) {
//   .home {
//     #svg-circle {
//       svg {
//         padding: 7vh;
//       }
//     }
//   }
// }

@media (min-width: 1440px) {
  .home {
    #col1 {
      flex: 0 1 25%;
      padding: calc(35vh - 34px) 0 0 12%;
      // padding: calc(35vh - 34px) 0 0 18%;

      // > div {
      //   margin-left: -6px;
      // }

      #white_circle {
        // top: calc(40vh - 30px);
      }
      svg {
        padding: calc(6vw - 1rem);
      }
    }
    #col2 {
      flex: 0 1 75%;

      h2 {
        font: 300 normal 90px/90px 'MullerLight', Arial, Helvetica, sans-serif;
        // font: 300 normal 160px/160px 'Adelon';
      }
      #num {
        bottom: calc(25vw - 10px);
        left: calc(61vw - 5px);
        // left: calc(54vw - 5px);
      }
      #prev_next {
        bottom: calc(8vw - 17px);
        left: calc(22vw - 4px);
      }
    }
  }
}

@media (max-width: 1024px) {
  .cursor_main, .cursor_junior {
    display: none !important;
  }
  #social {
    left: calc(6% - 25px)
    // top: calc(5vw - 6px);
  }
  .home {
    #svg-circle {
      svg {
        padding: 10vh;
      }
    //   width: calc(100% - 7rem);
    //   height: calc(100% - 7rem);
    //   top: 8%;
    //   left: 7%;
    }
    #col1 {
      flex: 0 1 21%;
      padding: 22vh 0 0 8vw;

      > div {
        margin-left: -6px;
      }
      // #white_circle {
      //   top: calc(23 - 50px + 1.44vw);
      // }
      svg {
        padding: calc(10vw - 1rem);
        // width: 85%;
        // height: 85%;
        // top: calc(8vw - 1px);
        // left: calc(8vw - 1px);
      }
    }
    #col2 {
      flex: 0 1 79%;

      h2 {
        font: 300 normal 6vw/7vw 'MullerLight', Arial, Helvetica, sans-serif;
        // font: 300 normal 6vw/7vw $italiana, sans-serif;
        // font: 300 normal 6vw/7vw 'Adelon';
      }
      #num {
        bottom: calc(35vw + 20px);
        // right: calc(15vw - 40px);
      }
      #prev_next {
        // left: 159px;
        right: calc(7vw - 6px);
        left: auto;
        // left: calc(16vw - 6px);
      }
    }
  }
}

@media (max-width: 767px) {
  .home {
    #svg-circle {
      // width: 100%;
      // height: 100%;
      // top: 0;
      // left: 0;
    }
    #num_letter {
      bottom: 35px;
      left: 30px;
    }
    #col1 {
      position: absolute;
      padding: 55vh 0 0 0;
      // padding: 60vh 0 0 0;
      // padding: calc(36vh - 50px + 1.44vw) 0 0 calc(5% + 5px);
      // -webkit-box-flex: 0;
      //         -ms-flex: 0 1 44%;
                  flex: 0 1 44%;

      // #white_circle {
        // top: calc(23vh - 48px + 1.44vw);
      // }

      > div {
        font: 500 normal 15px/35px $financierDisplay;
        // font: 500 normal 12px/25px $financierDisplay;
        margin: 0 0 0 80px;
        // margin: 125px 0 0 -70px;
        // margin: 0 0 0 80px;

        a {
          padding-bottom: 0;

          svg {
            display: none;
          }
        }
        span {
          font: 600 normal 15px/35px $financierDisplay;
          // font: 500 normal 12px/35px $financierDisplay;
        }
      }
      svg {
        // display: none;
        padding: 0;
        // padding: calc(12vw - 1rem);
        // width: 85%;
        // height: 85%;
        // top: calc(8vw - 1px);
        // left: calc(8vw - 1px);
      }
    }
    #col2 {
      display: block;
      width: 100%;
      padding: 25vh 0 0 8vw;
      // padding: 30% 0 0 8%;
      // padding: 30% 0 0 25%;
      // padding: 35vh 0 0 80px;
      // padding: 45% 0 0 10%;
      // padding: 20vh 0 0 30px;
      // padding: 25vh 0 0 80px;
      // padding: 18vh 0 0 80px;
      // padding: calc(35vh - 5px + 1.44vw) 0 0 13%;
      flex: none;

      h2 {
        // font: 300 normal 18vw/20vw  'MullerLight', Arial, Helvetica, sans-serif;
        font: 900 normal 9vw/12vw $italiana;
        // font: 900 normal 5.5vw/12vw $italiana;
        // font: 900 normal 5.5vw/6vw $italiana;
        // font: 900 normal 15vw/15vw $italiana;
        // font: 300 normal 13vw/13vw  'MullerLight', Arial, Helvetica, sans-serif;
        // font: 300 normal 14vw/14vw  'MullerLight', Arial, Helvetica, sans-serif;
        // word-wrap: break-word;
        // width: 199px;
        // font: 300 normal 18vw/20vw 'Adelon';
        overflow-wrap: break-word;
        width: 625px;

        span:nth-child(2) {
          margin-left: 15px;
        }
        span:nth-child(3) {
          margin-left: 30px;
        }
      }
      #type {
        position: relative;
        top: auto;
        font: 500 normal 13px/13px $financierDisplay;
      }
      #prev_next {
        display: none;
        bottom: 21px;
        left: auto;
        right: 30px;
        position: fixed;
      }
      #num {
        // display: none;
        font: 600 normal 16px/16px $financierDisplay;
        letter-spacing: 1px;
        bottom: calc(30vh - 10px);
        // bottom: calc(65vw - 10px);
        // bottom: calc(32vw - 10px);
        // left: calc(70vw - 5px);
        // right: calc(19vw - 40px);

        #work {
          margin-left: 0;
          // font: 500 normal 12px/12px $graphik;
          // -webkit-transform: translateY(-1px);
                  transform: translateY(-1px);
        }
      }
      .inner_h2 {
        margin: 20px 0 0 10px;
      }
    }
  }
}

@media (max-width: 414px) {
  .home {
    #svg-circle {
      svg {
        // padding: 7vh;
        padding: 1vh;
      }
    }
    #col2 {
      padding: 25vh 0 0 12vw;
      #num {
        bottom: calc(18vh + 10px)
        // bottom: calc(20vh + 50px)
      }
    }
  }
}

@media (max-width: 375px) {
  .home {
    #svg-circle {
      svg {
        // padding: 7vh;
        padding: 1vw;
      }
    }
    #col2 {
      #num {
        bottom: calc(18vh + 10px);
      }
    }
  }
}

@media (max-width: 320px) {
  .home {
    #svg-circle {
      svg {
        padding: 0;
      }
    }
    #col1 {

    }
    #col2 {
      padding: 23vh 0 0 12vw;

      .inner_h2 {
        h2 {
          font: 900 normal 8vw/12vw $italiana;
        }
      }
      #prev_next {
        display: none;
      }
      #num {
        bottom: calc(20vh + 10px);
      }
    }
  }
}

// @media (min-height: 812px) {
//   .home {
//     #col2 {
//       padding: 45% 0 0 10%;
//     }
//   }
// }
