@mixin stroke($width, $color) {
  -webkit-text-stroke: $width $color;
      -ms-text-stroke: $width $color;
          text-stroke: $width $color;
}

@mixin no-select {
	-webkit-touch-callout: none; // Chrome / Safari
    -webkit-user-select: none; // Safari
     -khtml-user-select: none; // Konqueror HTML
       -moz-user-select: none; // Firefox
        -ms-user-select: none; // Internet Explorer / Edge / IE 10+
            user-select: none; // Non-prefixed version, currently / Likely future
}

@mixin font-smoothing {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // USAGE: @include font-smoothing;
}

@mixin iOS-Viewport {
	width: 100vw;  /* Use vw as a fallback for browsers that do not support Custom Properties */
	width: calc(var(--vw, 1vw) * 100);
	height: 100vh; /* Use vh as a fallback for browsers that do not support Custom Properties */
	height: calc(var(--vh, 1vh) * 100);
}
