@mixin border-radius($radius) {
 -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
         border-radius: $radius;
}

@mixin iOS-Viewport {
	width: 100vw;  /* Use vw as a fallback for browsers that do not support Custom Properties */
	width: calc(var(--vw, 1vw) * 100);
	height: 100vh; /* Use vh as a fallback for browsers that do not support Custom Properties */
	height: calc(var(--vh, 1vh) * 75);
}
