$light: hsl(240, 23%, 95%);
$purrWebPurple: #5C3BFE;

.dash {
  background: $white;
  position: relative;
  height: 2px;
  width: 50px;
  display: inline-block !important;
  margin-left: 40px;
  top: -2px;
  transform: rotate(90deg);
  transition: width 0.5s cubic-bezier(0.215, 0.61, 0.355,1);
}

.single-works {
  h1 {
    // text-shadow: -1px 1px 2px rgba(0, 0, 0, 0.5);
    text-shadow: -2px 2px 6px rgba(0, 0, 0, 0.5);
    font: 500 normal 7vw/7vw $italiana, serif;
    text-transform: uppercase;
    padding: 15vw 35vw 0 20vw;
    margin-left: -5px;
    opacity: 0;
  }
  .cover {
    display: block;
    opacity: 0;
    pointer-events: none;
  }
  .random {
    // text-shadow: -1px 1px 1px rgba(0, 0, 0, 0.3);
    // color: $light;
    // color: #EFEFF5;
    // color: #E2E2EC;
    // color: #FFFFFF;
    // background-color: #EFEFF5;
    // background-color: #EFEFF5;
    // letter-spacing: 0;
    // letter-spacing: 0.1em;
    // text-shadow: 2px 2px 2px #eee, -2px -2px 2px #CCCCCC;
    // font: 900 normal 100px/100px $italiana, serif;
    // text-shadow: 0 1px 0 hsl(240, 3%, 80%);
    // text-shadow:
    //   0 1px 0 hsl(240, 3%, 80%),
    //   0 2px 0 hsl(240, 3%, 70%),
    //   0 3px 0 hsl(240, 3%, 66%),
    //   0 4px 0 hsl(240, 3%, 64%),
    //   0 5px 0 hsl(240, 3%, 62%),
    //   0 6px 0 hsl(240, 3%, 61%),
    //   0 7px 0 hsl(240, 3%, 60%),
    //   0 8px 0 hsl(240, 3%, 59%),
    //
    //   0 0 5px rgba(0, 0, 0, 0.05),
    //   0 1px 3px rgba(0, 0, 0, 0.2),
    //   0 3px 5px rgba(0, 0, 0, 0.2),
    //   0 5px 10px rgba(0, 0, 0, 0.2),
    //   0 10px 10px rgba(0, 0, 0, 0.2),
    //   0 20px 20px rgba(0, 0, 0, 0.3);
    opacity: 0;
  }
}

svg.svg_menu {
  pointer-events: none;
  position: absolute;
  bottom: 16px;
  left: 0;

  path {
    stroke-dasharray: 1000;
    stroke-dashoffset: 0;
  }
}
svg.svg_underline {
  position: absolute;
  bottom: 6px;
  left: 14px;

  path {
    stroke-dasharray: 1000;
    stroke-dashoffset: 0;
  }
}

.point {
  color: $white;
  transition: color 1s;

  &.black {
    color: $black;
  }
}
.point2 {
  &::after {
    content: '';
    width: 6px;
    height: 6px;
    background: $black;
    border-radius: 100%;
    position: absolute;
    top: calc(100% + 20px);
    left: 7px;
    pointer-events: none;
    opacity: 0;
    transform-origin: 0 100%;
    transform: scaleY(5);
    transition: 0.1s;
  }
  &:hover {
    &::after {
      opacity: 1;
      transform: scaleY(1);
    }
  }
}
.point3 {
  color: $white;
  transition: color 1s;

  .svg_menu {
    pointer-events: none;
    .svg_line {
      stroke: $white;
    }
  }
  .svg_underline {
    .svg_line {
      stroke: $white;
    }
  }

  &.black {
    color: $black;

    .svg_menu {
      pointer-events: none;
      .svg_line {
        stroke: $black;
      }
    }
    .svg_underline {
      .svg_line {
        stroke: $black;
      }
    }
  }
  &.white {
    color: $white;
  }
}

.point4 {
  color: $white;
  transition: color 1s;

  &.black {
    color: $black;
  }
}
.cover {
  background-size: cover !important;
}
.contain {
  background-size: contain !important;
}
.clear {
  clear: both;
  float: none;
}
#progress {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 30;
}
.ahead {
  z-index: 20;
}
.lazy-image {
  opacity: 0.1;
  will-change: opacity;
  transition: all 0.5s;

  &.loaded {
    opacity: 1;
  }
}

// .background_intro {
//   width: 87%;
//   height: 100%;
//   top: 0;
//   left: 0;
//   position: absolute;
//   background: #DADADA;
//   z-index: 1;
//   -webkit-transform-origin: 0 0;
//           transform-origin: 0 0;
//   -webkit-transform: scaleX(0);
//           transform: scaleX(0);
// }

@keyframes dash4 {
  100% {
    stroke-dashoffset: 700;
  }
}

@media (max-width: 1024px) {
  .single-works {
    h1 {
      padding: 15vw 0 0 18vw;
      font: 500 normal 11vw/12vw $italiana, serif;
      margin: 0;
    }
  }
}

@media (max-width: 767px) {
  .single-works {
    h1 {
      text-shadow: -2px 2px 3px rgba(0, 0, 0, 0.5);
      font: 900 normal 10vw/10vw $italiana, sans-serif;
      word-wrap: break-word;
      width: 85%;
      padding: calc(25vh - 10px) 0 0 15vw;
    }
    .cover {
      height: 100vw;
    }
  }
}

@media (max-width: 414px) {
  .single-works {
    h1 {
      padding: calc(25vh - 10px) 0 0 16vw;
      width: 90%;
      font: 900 normal 11vw/11vw $italiana;
    }
  }
}

// .preload-counter {
//   position: fixed;
//   top: 50%;
//   left: 50%;
//   z-index: 10;
//   background: green;
//   color: white;
//   width: 100px;
//   height: 100px;
// }

// #state {
//   color: rgb(200,200,200);
//   // font-family: Monaco;
//   font-size: 12px;
//   line-height: 1em;
//   padding: 20px;
//   text-align: center;
// }
//
// #progressId {
//   font-size: 50px;
//   left: 50%;
//   letter-spacing: 0.1em;
//   margin: -25px 0 0 -100px;
//   position: absolute;
//   text-align: center;
//   top: 50%;
//   width: 200px;
// }
//
// #progressbar {
//   left: 10%;
//   position: absolute;
//   text-align: center;
//   top: 55%;
//   right: 10%;
//
//   .bar {
//     // @include box-shadow(cyan 0 0 10px 1px);
//     // @include transition(all 300ms);
//     background-color: cyan;
//     height: 1px;
//     display: inline-block;
//     width: 0%;
//   }
//
//   .bar.complete {
//     // @include box-shadow(rgba(255, 0, 0, 0) 0 0 10px 10px);
//   }
// }

// @supports ((-webkit-text-stroke-color: $black) and (-webkit-text-fill-color: rgb(239, 239, 239))) or ((-moz-text-stroke-color: $black) and (-moz-text-fill-color: rgb(239, 239, 239))) {
//   .madein {
//     div {
//       -webkit-text-fill-color: rgb(239, 239, 239);
//          -moz-text-fill-color: rgb(239, 239, 239);
//       -webkit-text-stroke-color: $black;
//          -moz-text-stroke-color: $black;
//       -webkit-text-stroke-width: 1px;
//          -moz-text-stroke-width: 1px;
//     }
//     span {
//       -webkit-text-fill-color: $black;
//          -moz-text-fill-color: $black;
//       -webkit-text-stroke-color: $black;
//          -moz-text-stroke-color: $black;
//       -webkit-text-stroke-width: 1px;
//          -moz-text-stroke-width: 1px;
//     }
//   }
//   .city div {
//     -webkit-text-fill-color: rgb(239, 239, 239);
//        -moz-text-fill-color: rgb(239, 239, 239);
//     -webkit-text-stroke-color: $black;
//        -moz-text-stroke-color: $black;
//     -webkit-text-stroke-width: 1px;
//        -moz-text-stroke-width: 1px;
//   }
// }
