// #time {
//   position: absolute;
//   top: 2.5%;
//   left: 50%;
//   z-index: 100;
//   width: 100%;
// }

.dash {
  background: $white;
  position: relative;
  height: 2px;
  width: 50px;
  display: inline-block !important;
  margin-left: 40px;
  top: -2px;
  // -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  // -webkit-transition: width 0.5s cubic-bezier(0.215, 0.61, 0.355,1);
          transition: width 0.5s cubic-bezier(0.215, 0.61, 0.355,1);
}

.single-works {
  h1 {
    // font: 500 normal 120px/140px 'Adelon';
    // font: 500 normal 120px/140px $italiana;
    font: 500 normal 100px/100px $italiana, serif;
    text-transform: uppercase;
    padding: 15vw 16vw 0 17vw;
    // padding: 15vw 0 0 26vw;
    margin-left: -5px;
    opacity: 0;
    // transform: rotateX(-70deg) skewX(24deg);
    // transform-origin: center bottom;
    // transform-style: preserve-3d;
    // display: inline-block;
  }
  .cover {
    // width: 100vw;
    // height: 57vw;
    display: block;
    opacity: 0;
    // overflow: hidden;
    pointer-events: none;

    canvas {
      // margin-top: -10px
    }
  }
  .random {
    opacity: 0;
  }
}

svg.svg_menu {
  pointer-events: none;
  position: absolute;
  bottom: 16px;
  left: 0;

  path {
    stroke-dasharray: 1000;
    stroke-dashoffset: 0;
  }
}
svg.svg_underline {
  position: absolute;
  bottom: 6px;
  left: 14px;

  path {
    stroke-dasharray: 1000;
    stroke-dashoffset: 0;
  }
}

.point {
  color: $white;
  // -webkit-transition: color 1s;
          transition: color 1s;

  &.black {
    color: $black;
  }
  // &.black::after {
  //   background: $black;
  // }
  // &::after {
  //   content: '';
  //   width: 3px;
  //   height: 3px;
  //   background: $white;
  //   border-radius: 100%;
  //   position: absolute;
  //   top: calc(100% + 12px);
  //   left: 7px;
  //   pointer-events: none;
  //   opacity: 0;
  //   -webkit-transform-origin: 0 100%;
  //           transform-origin: 0 100%;
  //   -webkit-transform: scaleY(5);
  //           transform: scaleY(5);
  //           transition-property: background, opacity, transform, -webkit-transform;
  //   -webkit-transition-duration: 1s, 0.1s, 0.1s, 0.1s;
  //           transition-duration: 1s, 0.1s, 0.1s, 0.1s;
  // }
  // &:hover::after {
  //   opacity: 1;
  //   -webkit-transform: scaleY(1);
  //           transform: scaleY(1);
  // }
}

.point2 {
  &::after {
    content: '';
    width: 6px;
    height: 6px;
    background: $black;
    border-radius: 100%;
    position: absolute;
    top: calc(100% + 20px);
    left: 7px;
    pointer-events: none;
    opacity: 0;
    // -webkit-transform-origin: 0 100%;
            transform-origin: 0 100%;
    // -webkit-transform: scaleY(5);
            transform: scaleY(5);
    // -webkit-transition: 0.1s;
            transition: 0.1s;
  }
  &:hover {
    &::after {
      opacity: 1;
      // -webkit-transform: scaleY(1);
              transform: scaleY(1);
    }
  }
}

.point3 {
  color: $white;
  // -webkit-transition: color 1s;
          transition: color 1s;
  // &::before {
  //   content: '';
  //   width: 8px;
  //   height: 8px;
  //   border-left: 1px solid $white;
  //   border-top: 1px solid $white;
  //   border-radius: 10%;
  //   position: absolute;
  //   top: calc(100% + 6px);
  //   left: 8px;
  //   pointer-events: none;
  //   opacity: 0;
  //   // -webkit-transform-origin: 0 100%;
  //   //         transform-origin: 0 100%;
  //   // -webkit-transform: scaleY(5) rotate(0);
  //   //         transform: scaleY(5) rotate(0);
  //   // -webkit-transition: 0.1s;
  //   //         transition: 0.1s;
  //   -webkit-transform-origin: 0 100%;
  //           transform-origin: 0 100%;
  //   -webkit-transform: scaleY(5) rotate(0);
  //           transform: scaleY(5) rotate(0);
  //   transition-property: background, opacity, transform, -webkit-transform;
  //   -webkit-transition-duration: 1s, 0.1s, 0.1s, 0.1s;
  //           transition-duration: 1s, 0.1s, 0.1s, 0.1s;
  // }
  // &::after {
  //   content: '';
  //   width: 1px;
  //   height: 15px;
  //   background: $white;
  //   // border-radius: 100%;
  //   position: absolute;
  //   top: calc(100% + 10px);
  //   left: 14px;
  //   pointer-events: none;
  //   opacity: 0;
  //   -webkit-transform-origin: 0 100%;
  //           transform-origin: 0 100%;
  //   -webkit-transform: scaleY(5);
  //           transform: scaleY(5);
  //   -webkit-transition: 0.1s; // stretching transform
  //           transition: 0.1s; // stretching transform
  // }
  // &:hover {
  //   &::before {
  //     opacity: 1;
  //     -webkit-transform: scaleY(1) rotate(45deg);
  //             transform: scaleY(1) rotate(45deg);
  //   }
  //   &::after {
  //     opacity: 1;
  //     -webkit-transform: scaleY(1);
  //             transform: scaleY(1);
  //   }
  // }

  .svg_menu {
    pointer-events: none;
    .svg_line {
      stroke: $white;
    }
  }
  .svg_underline {
    .svg_line {
      stroke: $white;
    }
  }

  &.black {
    color: $black;

    .svg_menu {
      pointer-events: none;
      .svg_line {
        stroke: $black;
      }
    }
    .svg_underline {
      .svg_line {
        stroke: $black;
      }
    }
  }
  &.white {
    // color: $black;
    color: $white;

    // &::before {
    //   border-color: $black;
    //   transition: border-color 0.1s;
    //   transition-delay: 0.25s;
    // }
    // &::after {
    //   background: $black;
    //   transition: background 0.1s;
    //   transition-delay: 0.25s;
    // }
  }
}

.point4 {
  color: $white;
  // -webkit-transition: color 1s;
          transition: color 1s;

  &.black {
    color: $black;
  }
}

.cover {
  background-size: cover !important;
}

.contain {
  background-size: contain !important;
}

.clear {
  clear: both;
  float: none;
}

#progress {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 30;
  // cursor: progress !important; // ADD YOU CUSTOM CURSOR WHEN RELOADING || PROGRESS IS ACTIVE

  // background-image: url('../images/peace.png');
}

.ahead {
  z-index: 20;
}

.lazy-image {
  opacity: 0.1;
  will-change: opacity;
  transition: all 0.5s;

  &.loaded {
    opacity: 1;
  }
}

// .background_intro {
//   width: 87%;
//   height: 100%;
//   top: 0;
//   left: 0;
//   position: absolute;
//   background: #DADADA;
//   z-index: 1;
//   -webkit-transform-origin: 0 0;
//           transform-origin: 0 0;
//   -webkit-transform: scaleX(0);
//           transform: scaleX(0);
// }
//
// @media (max-width: 767px) {
//   .background_intro {
//     width: calc(100% - 36px);
//   }
// }

@keyframes dash4 {
  100% {
    stroke-dashoffset: 700;
  }
}

@media (max-width: 1024px) {
  .single-works {
    h1 {
      padding: 15vw 0 0 18vw;
      font: 500 normal 11vw/12vw $italiana, serif;
      margin: 0;
    }
  }
}

@media (max-width: 767px) {
  .single-works {
    h1 {
      // font: 500 normal 15vw/16vw 'Adelon';
      // font: 500 normal 12vh/20vw $italiana;
      font: 500 normal 10vw/10vw $italiana;
      // overflow-wrap: break-word;
      word-wrap: break-word;
      width: 85%;
      padding: calc(25vh - 10px) 0 0 15vw;
      // padding: calc(18vh - 3vw) 0 0 15%;
    }
    .cover {
      height: 100vw;
    }
  }
}

@media (max-width: 414px) {
  .single-works {
    h1 {
      padding: calc(25vh - 10px) 0 0 16vw;
      width: 90%;
      font: 900 normal 11vw/11vw $italiana;
      // font: 900 normal 4vh/10vw $italiana;
      // font: 500 normal 7vh/18vw $italiana;
    }
  }
}

// .preload-counter {
//   position: fixed;
//   top: 50%;
//   left: 50%;
//   z-index: 10;
//   background: green;
//   color: white;
//   width: 100px;
//   height: 100px;
// }

// #state {
//   color: rgb(200,200,200);
//   // font-family: Monaco;
//   font-size: 12px;
//   line-height: 1em;
//   padding: 20px;
//   text-align: center;
// }
//
// #progressId {
//   font-size: 50px;
//   left: 50%;
//   letter-spacing: 0.1em;
//   margin: -25px 0 0 -100px;
//   position: absolute;
//   text-align: center;
//   top: 50%;
//   width: 200px;
// }
//
// #progressbar {
//   left: 10%;
//   position: absolute;
//   text-align: center;
//   top: 55%;
//   right: 10%;
//
//   .bar {
//     // @include box-shadow(cyan 0 0 10px 1px);
//     // @include transition(all 300ms);
//     background-color: cyan;
//     height: 1px;
//     display: inline-block;
//     width: 0%;
//   }
//
//   .bar.complete {
//     // @include box-shadow(rgba(255, 0, 0, 0) 0 0 10px 10px);
//   }
// }
