$dark: #1d1d1f;
$light: #f2f2f7;
$shadow: #d9d9d9;

:root {
  // font-size: 25vmin;
  // font-family: 'Roboto', sans-serif;
  width: 100%;
  height: 100%;
}

body {
  // margin: 0;
  // display: flex;
  // justify-content: space-around;
  // align-items: center;
  // height: 100%;
  background-color: $light;
  color: $dark;
  transition: all 0.15s ease-out;
}

body.dark-theme {
  background-color: $dark;
  color: $light;

  header .logo {
    color: $light;
  }
  #main__content {
    span.random {
      color: $light;
    }
    a {
      color: $light;
    }
    .inner_img {
      background: $dark;
    }
    #next_proj > div a {
      color: $light;
      -webkit-text-stroke: 1px $dark;

      &.changing {
        span {
          color: $light;
          @include stroke(1px, $light);
        }
      }
    }
  }

  #social {
    a {
      color: $light;
    }
  }

  #about.black .all_work, #contact.black .all_work {
    text {
      fill: $light;
    }
  }
  #about.black .all_work, #contact.black .all_work {
    .cls-1 {
      stroke: $light;
    }
  }

  header .projects.black .feature1,

  .black {
    .feature1,
    .feature2,
    .feature3 {
      background: $light;
    }
  }

  #nav__menu {
    background: $dark;
    a {
      color: $light;
    }
    ol#nav__menu__links li {
      &::before {
        color: $light;
      }
      a {
        &::after {
          -webkit-text-stroke: 0px $light;
          color: $light;
        }
      }
      .active a {
        -webkit-text-stroke: 1px $light;
        color: $light;
      }
      &.active a {
        -webkit-text-stroke: 1px $light;
        color: $light;
      }
    }
  }

  .cursor_main {
    border: 2px solid $light;

    &.vertical_scroll {
      border: 2px solid $light;

      &::after {
        color: $light;
      }
    }
  }
  .cursor_junior {
    &.vertical_scroll {
      background-color: $light;
        &::after {
        background-color: $light;
      }
    }
  }

  .background_intro {
    background: #222222
  }
  .madein div {
    color: $light;
  }
  .city {
    fill: $light;

    div:first-child {
      background: -webkit-gradient(left top, left bottom, color-stop(0%, $light), color-stop(58%, rgba(255, 255, 255, 1)), color-stop(100%, rgba(255, 255, 255, 1)));
      background: -webkit-linear-gradient(top, $light 0%, rgba(255, 255, 255, 1) 58%, rgba(255, 255, 255, 1) 100%);

      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    #inner_svg {
      fill: $light;

      svg g {
        fill: $light;
      }
    }
  }
  .deets-dash {
    background: $light;
  }
  .intro2 {
    h1 {
      color: $light;
    }
    h2 {
      span {
        color: $light;
      }
    }
  }
  footer h3 {
    color: $light;
  }

  svg.svg_menu path {
    stroke: $light;
  }
  .point3.black .svg_menu .svg_line {
    stroke: $light;
  }
  .point3.black .svg_underline .svg_line {
    stroke: $light;
  }

  // #main__content #next_proj {
  //   background: $light;
  //
  //   > div a span {
  //     color: $dark;
  //   }
  //   > div div {
  //     color: $dark;
  //   }
  // }
}

#change-theme-btn {
  font: inherit;
  outline: 0;
  border-radius: 40px;
  width: 46px;
  height: 21px;
  margin: 0 auto;
  position: absolute;
  top: 39px;
  left: 125px;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.15s ease-out;
  z-index: 2;

  span {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    opacity: 1;
    background-color: $dark;
    box-shadow: 0px 1px 3px $dark;
    border-radius: 40px;
    transition: 0.2s ease background-color, 0.2s ease opacity;

    &:after, &:before {
      content: '';
      position: absolute;
      top: 3px;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      transition: 0.5s ease transform, 0.2s ease background-color;
    }
    &:after {
      background-color: $light;
      transform: translate(4px, 0px);
      z-index: 0;
    }
    &:before {
      background-color: $dark;
      transform: translate(-18px, 0px);
      z-index: 1;
    }
  }
  input[type="checkbox"] {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: pointer;
    opacity: 0;
    z-index: 2;

    // &:checked + span {
    //   background-color: $dark;
    // }
    // &:active + span {
    //   opacity: 0.5;
    // }
    // &:checked + span:before {
    //   background-color: $dark;
    //   transform: translate(65px, -10px);
    // }
    // &:checked + span:after {
    //   background-color: $light;
    //   transform: translate(79px, 0px);
    // }
  }

  &.light {
    span {
      background-color: $light;
      box-shadow: 0px 1px 3px $light;

      &:after {
        background-color: $dark;
      }
      &:before {
        background-color: $light;
      }
    }
  }
  &.dark-mode {
    span {
      background-color: $light;
      box-shadow: 0px 1px 3px $light;

      &:after {
        background-color: $dark;
        transform: translate(27px, 0);
      }
      &:before {
        background-color: $light;
        transform: translate(22px, -2px);
      }
    }
  }
}

@media (min-width: 1440px) {
  #change-theme-btn {
    left: 150px;
  }
}

@media (max-width: 1024px) {
  #change-theme-btn {
    left: 150px;
  }
}

@media (max-width: 767px) {
  body.dark-theme {
    #about.black .all_work, #contact.black .all_work {
      .cls-1 {
        stroke: none;
      }
    }
  }
  #change-theme-btn {
    left: 100px;
  }
  // #about, #contact {
  //   .all_work {
  //     text {
  //       font: 400 17px/16px 'MullerLight', Arial, Helvetica, sans-serif;
  //     }
  //     .cls-1 {
  //       stroke: none;
  //     }
  //   }
  //   &.black {
  //     .all_work {
  //       .cls-1 {
  //         stroke: none;
  //       }
  //     }
  //   }
  // }
  // #about.black .all_work, #contact.black .all_work {
  //   text {
  //     fill: $light;
  //   }
  // }
  // #about.black .all_work, #contact.black .all_work {
  //   .cls-1 {
  //     stroke: none;
  //   }
  // }
}
