* {
  box-sizing: border-box;
  @include no-select();
  @include font-smoothing(on);
  text-rendering: optimizeLegibility;
  appearance: none;
  outline: 0;
  margin: 0;
  padding: 0;
  border: 0;
  cursor: none !important;
}

html, body {
  height: 100%;
  width: 100%;
  font: 400 normal 20px/42px 'Montserrat';
}

body {
  position: relative;

  &.is-loading * {
    // -webkit-transition: all 0ms 0ms linear !important;
            transition: all 0ms 0ms linear !important;
  }
  &.desktop {
    overflow: hidden;
  }
  &.home {
    overflow: hidden;

    &.temp {
      overflow: scroll;
    }
  }
  // &.dragging {
  //   overflow-x: scroll;
  //   overflow-y: hidden;
  //   will-change: transform;
  // }
}

input, textarea {
  border-radius: 0;
}

a {
  text-decoration: none;
}

@media (max-width: 1024px) {
  * {
    cursor: none !important;
  //   overflow-y: scroll; /* has to be scroll, not auto */
  //   -webkit-overflow-scrolling: touch;
  }
  // html {
  //   scroll-behavior: smooth;
  // }
  html, body {
    height: auto;
    // height: 100%;
  }
}
