* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: 0;
  margin: 0;
  padding: 0;
  border: 0;
  cursor: none !important;
  @include no-select();
}

html, body {
  height: 100%;
  width: 100%;
  font: 400 normal 20px/42px 'Montserrat';
}

body {
  position: relative;

  &.is-loading * {
    -webkit-transition: all 0ms 0ms linear !important;
            transition: all 0ms 0ms linear !important;
  }
  &.desktop {
    overflow: hidden;
  }
  &.home {
    overflow: hidden;

    &.temp {
      overflow: scroll;
    }
  }
  // &.dragging {
  //   overflow-x: scroll;
  //   overflow-y: hidden;
  //   will-change: transform;
  // }
}

input, textarea {
  border-radius: 0;
}

a {
  text-decoration: none;
}

@media (max-width: 767px) {
  html, body {
    height: auto;
  }
}
