$white: #FFFFFF;
$black: #000000;
// $drag: #FF3366;
// $green: #D4FF45;
// $blue: #0077B2;
$drag: #FFFFFF;
$salmon: #e96a5b;

$graphik: 'Graphik';
$italiana: 'Italiana';
$financierDisplay: 'Financier Display';
